<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML LANG="ja">
<head>
    <META HTTP-EQUIV="Content-Language" Content="ja">
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-2022-JP">

    <title>Q's Nicolatter for X</title>
    <LINK rel="stylesheet" href="./default.css" type="text/css">
</head>
<BODY BGCOLOR="white" TEXT="BLACK" LINK="blue" vlink="teal" alink="#0066FF">



<h1>addword</h1>
<hr>


<p>addword$B$OJQ49%5!<%P!<$N<-=q$K?7$7$$MQ8l$rEPO?$7$^$9!#8=;~E@$G$O(BWnn$B@lMQ$G$9!#(B


<table border=1>
  <tr><th align=right>$BFI$_!'(B<td>
  <tr><th align=right>$B4A;z!'(B<td>
  <tr><th align=right>$B%3%a%s%H!'(B<td>
  <tr><th align=right>$BIJ;l!'(B<td>$BA*Br;h$+$iA*$S$^$9!#(B
  <tr><th align=right>$B<-=q!'(B<td>$B!JL$<BAu!K(B
</table>










<hr>
<p class="copyright">Copyright (c) 1998-2005 <a HREF="mailto:vzw00011@nifty.ne.jp">HORIKAWA Hisashi</a>.<br>All rights reserved.
<p class="copyright"><a href="http://www.nslabs.jp/">Netsphere Laboratories</a>
</body>
</html>
