<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML LANG="ja">
<HEAD>
    <META HTTP-EQUIV="Content-Language" Content="ja">
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-2022-JP">

    <TITLE>Q's Nicolatter for X</TITLE>
    <LINK rel="stylesheet" href="./default.css" type="text/css">
</HEAD>
<BODY BGCOLOR="white" TEXT="BLACK" LINK="blue" vlink="teal" alink="#0066FF">



<h1>keyconf</h1>
<hr>

<p>keyconf$B%3%^%s%I$O%-!<G[NsDj5A%U%!%$%k$rJT=8$7$^$9!#(Bkeyconf$B$GJT=8$7$?%-!<Dj5A%U%!%$%k$r(Bnicoconf$B%3%^%s%I$G;XDj$9$k$3$H$G!$?7$7$$G[Ns$r;H$($k$h$&$K$J$j$^$9!#(B

<p>Canna$B$rJQ49%5!<%P!<$H$9$k>l9g$O!$Dj5A%U%!%$%k$N$&$A@)8f%-!<$NItJ,$OL5;k$5$l!$?^7A%-!<$NItJ,$N$_;H$o$l$^$9!#(B

<h2>$B<g%&%#%s%I%&(B</h2>

<img src="images/keyconf-1.png" alt="$B<g%&%#%s%I%&(B">

<p>$B<g%&%#%s%I%&$G$O!$%a%K%e!<$+$iDj5A%U%!%$%k$NFI$_9~$_!&J]B8!$B>$N@_Dj%&%#%s%I%&$NI=<(!&HsI=<($r9T$$$^$9!#(B

<p>$B$^$?!$@_Dj$rJQ99$9$k%-!<$rA*$S$^$9!#F~NOJ8;z$NJQ99$J$I$O!$<g%&%#%s%I%&$G%-!<$rA*$S!$!V%-!<$N%W%m%Q%F%#!W%&%#%s%I%&!J8e=R!K$G9T$$$^$9!#(B



<h2>$B@)8f5!G=$NDj5A(B</h2>

<img src="images/keyconf-2.png" alt="$B@)8f5!G=%&%#%s%I%&$H@)8f5!G=$N%W%m%Q%F%#(B">

<p>$B@)8f5!G=%&%#%s%I%&$H!V@)8f5!G=$N%W%m%Q%F%#!W%&%#%s%I%&$G@)8f5!G=$r@_Dj$7$^$9!#@)8f5!G=$H$O!VJQ49!W!$!V%-%c%l%C%H1&!W$J$I$N5!G=$N$3$H$G$9!#$=$N5sF0$OF~NO%b!<%I$K$h$C$FJQ$o$k$N$G!$F~NO>u67$4$H$K5!G=JR$+$iA*Br$7$F@)8f5!G=$rDj5A$7$?>e$G!$@)8f5!G=$r%-!<$K3d$jEv$F$^$9!#F~NO>u67$N0UL#$O<!$N$H$*$j$G$9!#(B

<table border>
  <tr><th nowrap>$BF~NO>u67(B    <th nowrap>$B@bL@(B
  <tr><td>$BL$F~NO(B      <td>$BL$3NDj$NJ8;z$,$J$$>uBV!#(B
  <tr><td>$BF~NOCf(B      <td>$BJQ49A0$NJ8;z$,$"$k>uBV!#%-%c%l%C%HI=<(!#$^$?$O<+F0JQ49$GA4ItJQ49$5$l$F$b%-%c%l%C%H$,8+$($k>uBV!#(B
  <tr><td>$BJQ49Cf(B      <td>$BA4JQ49Cf$G8uJd0lMw$,$G$F$$$J$$>uBV!#%-%c%l%C%HHsI=<(!#(B
  <tr><td>$B8uJd0lMw(B    <td>$B8uJd0lMw%&%#%s%I%&$,I=<($5$l$F$$$k>uBV!#(B
</table>



<p>$B@)8f5!G=$NNc$r<!$K<($7$^$9!#(B

<table border>
  <tr><th rowspan=2>$B@)8f5!G=(B<th colspan=4>$BF~NO>u67(B
            <tr><th>$BL$F~NO(B  <th>$BF~NOCf(B          <th>$BJQ49Cf(B      <th>$B8uJd0lMw(B
<tr><td>$B1&(B      <td>$BL58z(B    <td>$B%-%c%l%C%H1&(B    <td>$BJ8@a?-$P$7(B  <td>$BJ8@a?-$P$7(B
<tr><td>$B:8:o=|(B  <td>$BL58z(B    <td>$B:8:o=|(B          <td>$BJQ49La$7(B    <td>$BJQ49La$7(B
</table>

<blockquote>
tips: [Enter]$B%-!<$G3NDj!\2~9T$7$?$$>l9g$O!$!VJQ49Cf!W!$!V8uJd0lMw!W$r!V(Bthrough$B!W$K$7$?@)8f5!G=$r:n@.$7!$$3$N@)8f5!G=$r(B[Enter]$B%-!<$K3d$jEv$F$^$9!#(B
</blockquote>





<h2><a name="keymap">$B%-!<$NDj5A(B</a></h2>

<img src="images/keyconf-3.png" alt="$B%-!<$N%W%m%Q%F%#(B">

<p>$B<g%&%#%s%I%&!$!V%-!<$N%W%m%Q%F%#!W%&%#%s%I%&$G3F%-!<$K?^7AJ8;z$^$?$O@)8f5!G=$r3d$jEv$F$F$$$-$^$9!#?^7AJ8;z$O$+$J!$%"%k%U%!%Y%C%H$J$I$r$$$$$^$9!#(B

<p>$B$"$k%-!<$G?^7AJ8;z$rF~NO$7$?$$$H$-$O!$!V?^7A%-!<!W$rA*Br$7!$!V?^7AJ8;z!WMs$KJ8;z$rF~NO$7$^$9!#@)8f5!G=$r3d$jEv$F$?$$$H$-$O!$!V@)8f%-!<!W$rA*Br$7!$!V5!G=L>!W$rA*Br$7$^$9!#(B










<hr>
<p class="copyright">Copyright (c) 1998-2005 <a HREF="mailto:vzw00011@nifty.ne.jp">HORIKAWA Hisashi</a>.<br>All rights reserved.
<p class="copyright"><a href="http://www.nslabs.jp/">Netsphere Laboratories</a>
</body>
</html>
