<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML LANG="ja">
<head>
    <META HTTP-EQUIV="Content-Language" Content="ja">
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-2022-JP">

    <title>Q's Nicolatter for X</title>
    <LINK rel="stylesheet" href="./default.css" type="text/css">
</head>
<BODY BGCOLOR="white" TEXT="BLACK" LINK="blue" vlink="teal" alink="#0066FF">


<h1>nicoconf</h1>
<hr>

<p>nicoconf$B%3%^%s%I$O!$F~NO%5!<%P!<(Bnicolatter$B$NF0:n$r@_Dj$7$^$9!#(B




<h2>$B%-!<G[Ns(B</h2>

<img src="images/nicoconf-1.png" alt="$B%-!<G[Ns%?%V(B">

<p>$B$3$N%?%V$G$O!$JQ49%5!<%P!<$NA*Br$H!$%-!<G[Ns$NA*Br$r$7$^$9!#(B


<table border style="margin-top:1em">
  <tr><th>$B9`L\(B         <th>$B@bL@(B
  <tr><td>$BJQ49%5!<%P!<(B <td>$B$+$J4A;zJQ49%5!<%P!<$r(BWnn$B$^$?$O(BCanna$B$+$iA*Br$7$^$9!#(BCanna$B$rA*Br$9$k$H!$$+$J%-!<!$JQ49%-!<$J$I$N@)8f%-!<$K$D$$$F$O(Bkeyconf$B$G$N@_Dj$G$O$J$/!$(BCanna$B$N@_Dj$,$=$N$^$^;H$o$l$^$9!#(B
</table>

<table border style="margin-top:1em">
  <tr><th>$B9`L\(B         <th>$B@bL@(B
  <tr>
    <td>$B?^7A%-!<$rCV$-49$($k(B
    <td>$B$+$JG[Ns$N$H$-$O$3$3$r%A%'%C%/$7!$?^7A%-!<$rCV$-49$($^$9!#%m!<%^;z$+$J$N$H$-$O%A%'%C%/$7$^$;$s!#(B
  <tr>
    <td>$BDj5A%U%!%$%k(B
    <td>$B%-!<G[Ns$NDj5A%U%!%$%k$r;XDj$7$^$9!#JQ49%5!<%P!<$,(BCanna$B$N>l9g$O!$$3$N%U%!%$%k$N@)8f%-!<$N@_Dj$,L5;k$5$l$^$9!#$^$?!$!V?^7A%-!<$rCV$-49$($k!W$N%A%'%C%/$,F~$C$F$$$J$$$H$-$O!$?^7A%-!<$N@_Dj$,L5;k$5$l$^$9!#(B
  <tr>
    <td>$B2>L>%-!<(B
    <td>$B1Q?t%b!<%I$+$iF|K\8l%b!<%I$X0\$k%-!<$r7h$a$^$9!#$J$*!$F|K\8l%b!<%I$+$i1Q?t%b!<%I$X0\$k%-!<$O!$%-!<G[NsDj5A%U%!%$%k$G;XDj$7$^$9!JJQ49%5!<%P!<$,(BWnn$B$N>l9g!K!#(B
  <tr>
    <td>$B%7%U%HJ}<0(B
    <td>$B?^7A%-!<$N%7%U%HB&$NJ8;z$r$I$N$h$&$K$7$FF~NO$9$k$+$r7h$a$^$9!#F1;~2!2<$O(B[Shift]$B%-!<$r2!$7$J$,$i?^7A%-!<$rBG$A$^$9!#%W%l%U%#%C%/%9$O(B[Shift]$B%-!<$rBG$A!$$=$N8e?^7A%-!<$rBG$A$^$9!#F1;~BG80$O!$?F;X%-!<!J8e=R!K$H?^7A%-!<$H$r$*$*$`$MF1;~$KBG$A$^$9!#(BNICOLA$BG[Ns$G$OF1;~BG80$rA*Br$7$^$9!#(B
  <tr>
    <td>$B?F;X%-!<(B
    <td>$B%7%U%HJ}<0$,F1;~BG80$N>l9g$K!$?^7A%-!<$N%7%U%HB&$NJ8;z$rA*Br$9$k$?$a$N%-!<$r7h$a$^$9!#(B[B]$B%-!<$N<jA0$N%-!<$r:8!$(B[N]$B%-!<$N<jA0$N%-!<$r1&$K$7$^$9!#DL>o$O(B[$B%9%Z!<%9(B]$B%P!<$H(B[$BJQ49(B]$B%-!<$K$J$j$^$9!#(B<a href="#note1"><sup>*1</sup></a>
</table>


<p><a name="note1">*1</a> [$BJQ49(B]$B%-!<$J$I$,@5>o$K8!=P$G$-$J$$>l9g$,$"$j$^$9!#$3$N>l9g$O(B/etc/X11/XF86Config$B%U%!%$%k$r3NG'$7$F$/$@$5$$!#%-!<%\!<%I@_Dj$NItJ,$r<!$N$h$&$K=q$-49$($^$9!#(B

<pre>
# XkbDisable
   XkbSymbols      &quot;jp(jp106)&quot;
   XkbGeometry     &quot;pc&quot;
   XkbRules        &quot;xfree86&quot;
   XkbModel        &quot;jp106&quot;
   XkbLayout       &quot;jp&quot;
</pre>

$BC<E*$K$O!$(BXkbDisable$B$r%3%a%s%H%"%&%H$7$^$9!#(B







<h2>$B%m!<%^;zJQ49(B</h2>

<img src="images/nicoconf-2.png" alt="$B%m!<%^;zJQ49%?%V(B">

<table border style="margin-top:1em">
  <tr><th>$B9`L\(B <th>$B@bL@(B
  <tr>
    <td>$B%m!<%^;zJQ49$9$k(B
    <td>$B%m!<%^;zJQ49$r9T$&$H$-$K%A%'%C%/$7$^$9!JJQ49%5!<%P!<$,(BWnn$B$N>l9g!K!#(BCanna$B$G$O>o$K(BCanna$B$N%m!<%^;zI=$GJQ49$5$l$^$9!#(B
  <tr>
    <td>$BDj5A%U%!%$%k(B
    <td>$B%m!<%^;zDj5A%U%!%$%k$rA*Br$7$^$9!#(B
  <tr>
    <td>$BBgJ8;z!&>.J8;z$r6hJL$9$k(B
    <td>$B%m!<%^;zDj5A$NBgJ8;z!&>.J8;z$r6hJL$9$k$H$-$K%A%'%C%/$7$^$9!#Nc$($P(B'ha'$B$H(B'Ha'$B$H$r6hJL$7$?$$>l9g$G$9!#(B
</table>




<h2>$BI=<((B</h2>

<img src="images/nicoconf-3.png" alt="$BI=<(%?%V(B">

<p>$B$3$N%?%V$G$O!$%U%)%s%H!$?'$J$I$r@_Dj$7$^$9!#(B

<table border style="margin-top:1em">
  <tr><th>$B9`L\(B <th>$B@bL@(B
  <tr>
    <td>$BJT=89T(B
    <td>$BL$3NDjJ8;z$N%U%)%s%H$rA*Br$7$^$9(B
  <tr>
    <td>$B%9%F!<%?%99T(B
    <td>$B8=:_$N%b!<%I$J$I$rI=<($9$kItJ,$N%U%)%s%H$rA*Br$7$^$9(B
</table>








<hr>
<p class="copyright">Copyright (c) 1998-2005 <a HREF="mailto:vzw00011@nifty.ne.jp">HORIKAWA Hisashi</a>.<br>All rights reserved.
<p class="copyright"><a href="http://www.nslabs.jp/">Netsphere Laboratories</a>
</body>
</html>
