<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML LANG="ja">
<HEAD>
    <META HTTP-EQUIV="Content-Language" Content="ja">
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-2022-JP">

    <TITLE>Q's Nicolatter for X</TITLE>
    <LINK rel="stylesheet" href="./default.css" type="text/css">
</HEAD>
<BODY BGCOLOR="white" TEXT="BLACK" LINK="blue" vlink="teal" alink="#0066FF">


<h1>$B%m!<%^;zDj5A(B</h1>
<hr>

<p>$B!!%m!<%^;zDj5A$O!$%m!<%^;zDj5A%U%!%$%k$r%F%-%9%H%(%G%#%?$GJT=8$7$^$9!#(B

<p>$B!!:G=i$K%m!<%^;z$r=q$-!$6uGr$r4V$KF~$l$F!$JQ49J8;zNs$r=q$-$^$9!#Nc$r<($7$^$9!#:GD90lCW$GHf3S$9$k$N$G!$Dj5A%U%!%$%k$K=q$/=g=x$O5$$K$9$kI,MW$O$"$j$^$;$s!#(B


<pre>
# $B%o9T(B (w)
        wa      $B$o(B
        wi      $B$&$#(B
        we      $B$&$'(B
        wo      $B$r(B

        wyi     $B$p(B
        wye     $B$q(B
</pre>


<p>$B!!B%2;$O@55,I=8=(B'/'$B$r;H$C$F<!$N$h$&$K=q$-$^$9!#(B'/'$B<+BN$r;H$&$H$-$O(B'\'$B$G%(%9%1!<%W$7$^$9!#(B

<pre>
        b/b      $B$C(B
        c/c      $B$C(B
        d/d      $B$C(B
        f/f      $B$C(B

        \/      $B!&(B
</pre>









<hr>
<p class="copyright">Copyright (c) 1998-2005 <a HREF="mailto:vzw00011@nifty.ne.jp">HORIKAWA Hisashi</a>.<br>All rights reserved.
<p class="copyright"><a href="http://www.nslabs.jp/">Netsphere Laboratories</a>
</body>
</html>
