<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML LANG="ja">
<HEAD>
    <META HTTP-EQUIV="Content-Language" Content="ja">
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-2022-JP">

    <TITLE>Q's Nicolatter for X</TITLE>
    <BASE TARGET="main">
    <LINK rel="stylesheet" href="./default.css" type="text/css">
</HEAD>
<BODY BGCOLOR="white" TEXT="BLACK" LINK="blue" vlink="teal" alink="#0066FF">


<P>Q's Nicolatter for X
<HR>


<table border=0>
<tr><td>1.<td COLSPAN=2><a href="cover.htm">$B=i$a$K(B</a>
<tr><td>2.<td COLSPAN=2><a href="install.htm">$B%$%s%9%H!<%k(B</a>

<tr><td>3.<td COLSPAN=2>$B%+%9%?%^%$%:(B
<tr><td>  <td>a.<td><a href="nicoconf.htm">nicoconf</a>
<tr><td>  <td>b.<td><a href="keyconf.htm">keyconf</a>
<tr><td>  <td>c.<td><a href="roma.htm">$B%m!<%^;zDj5A(B</a>
<tr><td>  <td>d.<td><a href="setting.htm">$B@_Dj%U%!%$%k$rD>@\JT=8$9$k(B</a>
<tr><td>  <td>e.<td><a href="setting.htm#hup">$B@_Dj$rH?1G$5$;$k(B</a>
<tr><td>  <td>f.<td><a href="cmdopt.htm">nicolatter$B%3%^%s%I%i%$%s%*%W%7%g%s(B</a>

<tr><td>3.<td COLSPAN=2>$B%5%]!<%H%W%m%0%i%`(B
  <tr><td><td>a.<td><a href="addword.htm">addword</a>
  <tr><td><td>a.<td><a href="palette.htm">palette</a>

<tr><td>4.<td COLSPAN=2><a href="keymap.htm">$B%-!<G[Ns(B</a>
<tr><td>5.<td COLSPAN=2><a href="emacs.htm">Emacs20</a>
<tr><td>6.<td colspan=2>$BMzNr(B
  <tr><td><td>a.<td><a href="history-1.x.htm">$BMzNr(B (v1.0$B!A(B)</a>
  <tr><td><td>b.<td><a href="history-0.x.htm">$BMzNr(B ($B!A(Bv1.0)</a>
<TR><TD>7.<TD COLSPAN="2"><A HREF="license.htm">$B%i%$%;%s%9(B</A>
</table>







</BODY>
</HTML>
