<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML LANG="ja">
<head>
  <META HTTP-EQUIV="Content-Language" Content="ja">
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-2022-JP">

  <title>Q's Nicolatter for X</title>
  <LINK rel="stylesheet" href="./default.css" type="text/css">
</head>
<body>


<h1>$B%3%^%s%I%i%$%s%*%W%7%g%s(B</h1>
<hr>

<dl>
  <dt>-D
  <dd>$B%G!<%b%s$K$J$k(B

  <dt>-x (yes|no)
  <dd>XIM$B%5%]!<%H$rM-8z$K$9$k(B (yes)$B!&L58z$K$9$k(B (no)

  <dt>-i (yes|no)
  <dd>IIIM$B%5%]!<%H$rM-8z$K$9$k(B (yes)$B!&L58z$K$9$k(B (no)
</dl>








<hr>
<p class="copyright">Copyright (c) 1998-2005 <a HREF="mailto:vzw00011@nifty.ne.jp">HORIKAWA Hisashi</a>.<br>All rights reserved.
<p class="copyright"><a href="http://www.nslabs.jp/">Netsphere Laboratories</a>
</body>
</html>
