<!--#config timefmt="%Y.%m.%d"-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML LANG="ja">
<HEAD>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-2022-JP">
  <meta http-equiv="Content-Language" content="ja">
  <meta http-equiv="Content-Script-Type" content="text/javascript">
  <meta http-equiv="Content-Style-Type" content="text/css">
    <LINK rel="stylesheet" href="./default.css" type="text/css" charset="Shift_JIS">
    <link rel="start" href="http://www2.airnet.ne.jp/pak04955/">
    <link rel="copyright" href="./copyright.htm">
    <BASE target="_top">

    <TITLE>Software Download for Windows</TITLE>
</HEAD>
<body>




<!-- $B%P%J!<9-9p$3$3$+$i(B -->
<table border=0 width="100%">
<tr><td align=center>

<!-- VC active -->
<SCRIPT LANGUAGE="JavaScript" type="text/javascript">
<!--
// ValueParameters
ValueHost = "hs0014065";
ValueID = "download";
ValueLoaded = false;
ValueVersion = "1.0";
ValueNoText = true;
//-->
</SCRIPT>
<SCRIPT LANGUAGE="Javascript" type="text/javascript" SRC="http://oz.valueclick.ne.jp/jsmaster"></SCRIPT>
<SCRIPT LANGUAGE="JavaScript" type="text/javascript">
<!--
if (ValueLoaded) ValueShowAd();
//-->
</SCRIPT>
<NOSCRIPT>
<A HREF="http://kansas.valueclick.ne.jp/redirect?host=hs0014065&amp;b=download&amp;v=0" TARGET="_top"><IMG BORDER="0" WIDTH="468" HEIGHT="60" ALT="Click here to visit our sponsor"
SRC="http://kansas.valueclick.ne.jp/cycle?host=hs0014065&amp;b=download&amp;noscript=1"></A>
</NOSCRIPT>
<!-- vc active -->

</tr>
<tr><td align=center>

<!-- VCREF -->
<A HREF="http://www.valueclick.ne.jp/cgi-bin/refer_host_signup?host=h0013261">
<B>ValueClick$B$N7G:\%5%$%H$K$J$C$F!"9-9p<}F~$r%2%C%H$7$h$&!*(B</B></A>
<!-- vcref -->

<br>
<br>
<br>
<br>
<br>
</tr></table>
<!-- $B%P%J!<9-9p$3$3$^$G(B -->









<!-- $B$3$3$+$iK\J8(B -->
<hr>
<a href="index.htm">$B%H%C%W%Z!<%8(B</a> &gt; <a href="index.htm#download">downloads</a> &gt;

<h1>Software Download for Windows</h1>




<h3>$B6&DL;v9`(B</h3>
<ul>
    <li><a href="#common">$BF0:n4D6-Ey(B</a>
    <li><a href="#vcp50rt">Visual C++ 5.0$B%i%s%?%$%`(B</a>
    <li><a href="#install">$B%$%s%9%H!<%kJ}K!(B</a>
    <li><a href="#uninstall">$B%"%s%$%s%9%H!<%kJ}K!(B</a>
    <li><a href="./license.htm">$BMxMQ5vBz5,Dj(B</a>
</ul>

<h3>$BJ8=q:n@.(B</h3>
<UL>
    <LI><A href="#nicolatter">Q's Nicolatter</A>
    <LI><A href="#spwrap">Q's SP Wrapper</A>
</ul>

<h3>$B%M%C%H%5!<%U%#%s!$(BWeb$B%V%i%&%6;Y1g(B</h3>
<ul>
    <LI><A href="#iefc">IE Favorites Collector</A>
    <LI><A href="#qilm">QILM</a>
</ul>

<h3>$B%G%9%/%H%C%WMQ>.J*(B</h3>
<ul>
    <LI><A href="#calc">Q's Calc</A>
</ul>

<h3>$B$=$NB>(B</h3>
<ul>
    <LI><A href="#resalarm">Q's ResAlarm</A>$B!J3+H/=*N;!K(B
</UL>







<h2><a name="common">$BF0:n4D6-Ey(B</a></h2>


<P>
<TABLE border>
<TR><TH ALIGN=RIGHT>$BCx:n8"<T(B<TD>$BKY@n!!5W!J(B<A href="mailto:vzw00011@nifty.ne.jp">vzw00011@nifty.ne.jp</A>$B!K(B</tr>
<TR><TH vaLIGN=top>$BBP1~4D6-(B<TD>Windows 95/98, NT 4.0$B!#(BWindows 3.1$B$d(BNT 3.51$B>e$G$O;H$($^$;$s!#(B		</tr>
<TR><TH ALIGN=RIGHT>$BF0:n3NG'(B<TD>$B<+:n(BPC/AT$B8_495!(B								</tr>
<TR><TH ALIGN=RIGHT NOWRAP valign=top>$BE>:\>r7o(B<TD>
        $BE>:\<+M3!$O"MmITMW!#>\:Y$O(B<a href="./license.htm">$BMxMQ5vBz5,Dj(B</a>$B$r$4Mw$/$@$5$$!#(B		</tr>
</TABLE>








<h2><a name="vcp50rt">Visual C++ 5.0$B%i%s%?%$%`(B</a></h2>

<P>$B!!(BVisual C++ 5.0 SP3$B$N%i%s%?%$%`$G$9!#!VI,MW$J(BDLL$B%U%!%$%k(BMSVCP50.DLL$B$,8+$D$+$j$^$;$s$G$7$?!#!W$J$I$N%(%i!<%a%C%;!<%8$,$G$k$H$-$K!$%@%&%s%m!<%I!$%$%s%9%H!<%k$7$F$/$@$5$$!#(B


<p>$B!!0J2<$N(BDLL$B$,F~$C$F$$$^$9!#(B
<UL>
    <LI>MFC42.DLL
    <LI>MSVCRT.DLL
    <LI>MSVCP50.DLL
</UL>

<p>$B8x3+F|!'(B1998.09.20($BF|(B) &nbsp; $B%U%!%$%k!'(B<A href="archives/vc5sp3rt.lzh">vc5sp3rt.lzh</A>$B!J(B1,465K$B%P%$%H!K(B




<h2><a name="install">$B%$%s%9%H!<%kJ}K!(B</a></h2>

<p>$B!!;d$N=q$/%=%U%H%&%'%"$OA4$F%$%s%9%H!<%i$r;H$$$^$;$s!#%$%s%9%H!<%k$O!$$*$*$`$M<!$N$h$&$K$7$^$9!#(B


<ol>
    <li>Lhasa, $B2rE`%l%s%8Ey$N%"!<%+%$%P%=%U%H$G!$2rE`$9$k!#(B
    <li>$BE,59!$%9%?!<%H%a%K%e!<Ey$K%7%g!<%H%+%C%H$r:n@.$9$k!#(B
</ol>



<h2><a name="uninstall">$B%"%s%$%s%9%H!<%kJ}K!(B</a></h2>

<p>$B!!%"%s%$%s%9%H!<%k$O!$4pK\E*$K%W%m%0%i%`$NF~$C$F$$$k%U%)%k%@$r4]$4$H:o=|$9$k$@$1$G$9!#>oCs$9$k!J%7%9%F%`%H%l%$$K%"%$%3%s$N$"$k!K%=%U%H$O!$$^$:=*N;$5$;$F$+$i!$%U%!%$%k$r:o=|$7$^$9!#(B














<H2><A name="nicolatter">Q's Nicolatter</A></H2>

<TABLE BORDER=1>
  <TR><TH ALIGN=RIGHT>$B<oJL(B
    <TD>$B%7%'%"%&%'%"!J#2!$#2#0#01_!K(B
  </tr>
  <TR><TH ALIGN=RIGHT valign=top>$BI,MW(BDLL
    <TD>v1.14$B$^$G!'(BMFC40.DLL, MSVCRT40.DLL<BR>
      v1.15$B0J9_!'(BMFC42.DLL, MSVCRT.DLL, MSVCP50.DLL<br>
      v1.25$B0J9_!'$J$7(B
  </tr>
  <TR><TH align=right valign=top>NIFTY$B$G$N8x3+@h(B
    <TD>FWINAC LIB(9)<BR>
      FKBOARD LIB(1)
  </tr>
</TABLE>

<P>Q's Nicolatter$B$O!$F|K\8lF~NO;~$N%-!<G[Ns$r8r49$9$k%=%U%H$G$9!#(B

<p><a href="images/nico.jpg"><img src="images/nicos.jpg" alt="SCREEN SHOT">$B%9%/%j!<%s%7%g%C%H(B/SCREEN SHOT</a>

<H3>$BGX7J$HA@$$(B</H3>

<P>$B8=:_$N(BWindows$B4D6-$G$N%-!<F~NO$O%m!<%^;zF~NO$,<gN.$G$9$,!$%m!<%^;zF~NO$G$O$I$l$@$1=ON}$7$F$b%-!<F~NO$NB.EY$K8B3&$,$"$j$^$9!#(B

<P>$BJ8=q:n@.$J$I9M$($J$,$iF~NO$9$k$H$-$K$O!$F~NOB.EY$,;W9MB.EY$NJI$r1[$($i$l$k$+$I$&$+$,!$;W9M$rK8$2$J$/$J$k$+$I$&$+$H$$$&0UL#$G<AE*$J0c$$$r$b$?$i$7$^$9!#%m!<%^;zF~NO$G$O$3$N;W9MB.EY$NJI$r1[$($k$3$H$O$G$-$^$;$s!#$^$!!$$=$s$JBg76:@$JOC$G$J$/$F$b!$(BNICOLA$B$J$i!$%-!<$rC!$/NL$,%m!<%^;zF~NO$NH>J,$G$$$$$N$G!$%A%c%C%H$H$+$G$b!V%i%/!W$KBG$F$k$h$&$K$J$j$^$9!#(B

<p>$B%m!<%^;zF~NO$+$i(BNICOLA$B$X$N0\9T$O!$$*$*$`$M(B2$B=54V!A(B3$B=54V$G85$NB.$5!JJ8=qNL$,%m!<%^;zF~NO$N$H$-$HF1$8$0$i$$!a%-!<$rC!$/NL$OH>J,!K!$(B3$B%v7nDxEY$G:#$^$G$N(B2$BG\$NB.$5!JH>J,$NF~NO;~4V!K$0$i$$!#%m!<%^;zF~NO$H(BNICOLA$B$H$rJ;MQ$;$:$K!$0l5$$K0\9T$9$k$N$,=EMW$G$9!#(B

<p>$B!J(BNICOLA$B$O(B<a href="http://nicola.sunicom.co.jp/nicola/">$BF|K\8lF~NO%3%s%=!<%7%"%`(B</a>$B$,4IM}$7$F$$$^$9!#!K(B

<H3>$BFCD'(B</H3>

<UL>
  <li>Q's Nicolatter$B$O!$G[Ns$r4]$4$H8r49$7$^$9!#(B
  <LI>$B=P2Y;~$N@_Dj$G(BNICOLA, TRON, OASYS, $B?7(BJIS, 50$B2;G[Ns$,;H$($^$9!#(B
  <LI>$BE:IU$N%-!<G[Ns%(%G%#%?$K$h$C$F<+M3$K%+%9%?%^%$%:$G$-$^$9!#(B
</UL>


<P>Q's Nicolatter$B$N(BNICOLA$BG[Ns?^!#(BUS$B%-!<%\!<%I$G$N?^$G$9!#(BJP$B%-!<%\!<%I$@$H1&$NJ}$,B?>/0[$J$j$^$9!#(B
<IMG src="images/nico-map.png" alt="Q's Nicolatter$BHG(BNICOLA$BG[Ns(B">

<p>Q's Nicolatter$B$r;H$&>l9g!$(BIME$B$NJ}$G$b@_Dj$rJQ99$7$J$$$H$$$1$J$$$3$H$,$"$j$^$9!#(B&lt;<a href="nicola-ime.htm">Q's Nicolatter$BMQ$N(BIME$B@_Dj(B</a>>


<p>$BAw6b$O!$(B<a href="https://sw.vector.co.jp/swreg/step1.reserve?srno=SR001607">$B%7%'%"%l%8!&%5!<%S%9(B STEP1_2</a>$B$+$i$G$-$^$9!#(B



<H3>$B%U%!%$%k!?MzNr(B</H3>



<table style="margin-top:1em">
  <tr><th align=right valign=top nowrap>$BHG!'(B<td>1.27</tr>
  <tr><th align=right valign=top nowrap>$B8x3+F|!'(B<td>2001.01.08($B=K(B)</tr>
  <tr><th align=right valign=top nowrap>$B%U%!%$%k!'(B<td><A href="archives/qnico127.lzh">qnico127.lzh</A>$B!J(B***,***$B%P%$%H!K(B
  <tr><th align=right valign=top nowrap>$B%j%j!<%9%N!<%H!'(B<td><a href="http://www2.airnet.ne.jp/pak04955/ramble-200101.htm#08rn">2001.01.08/rn</a></tr>
  <tr><th align=right valign=top nowrap>$B<g$JJQ99E@!'(B<td>
    <ul>
      <li>$B5/F0;~$K?tICBT$C$F$+$i%-!<G[Ns$rJQ99$9$k$h$&$K$7$?!#(B
      <li>$B%7%9%F%`%H%l%$$+$i%"%$%3%s$r>C$9$H%W%m%Q%F%#$,8F$S=P$;$J$/$J$k%P%0$,:.F~$7$F$$$?$N$r=$@5(B
    </ul>
  </tr>
</table>


<table style="margin-top:1em">
  <tr><th align=right valign=top nowrap>$BHG!'(B<td>1.26</tr>
  <tr><th align=right valign=top nowrap>$B8x3+F|!'(B<td>2000.12.23($BEZ(B)</tr>
  <tr><th align=right valign=top nowrap>$B%U%!%$%k!'(B<td><A href="archives/qnico126.lzh">qnico126.lzh</A>$B!J(B484,208$B%P%$%H!K(B
  <tr><th align=right valign=top nowrap>$B%j%j!<%9%N!<%H!'(B<td><a href="http://www2.airnet.ne.jp/pak04955/ramble-200012.htm#23rn">2000.12.23/rn</a></tr>
  <tr><th align=right valign=top nowrap>$B<g$JJQ99E@!'(B<td>
    <ul>
      <li>$B?F;X%-!<$NC1FHBG80$rL5;k$9$k%*%W%7%g%s$rF3F~!#F1;~BG80$NBG$A4V0c$$$K$h$k%Z%J%k%F%#$rDc8:$7$?!#(B
      <li>JP$B%-!<%\!<%I$N(BNICOLA$BG[NsDj5A%U%!%$%k$rE:IU$7$?!#(B
      <li>$BG[NsJT=8%W%m%0%i%`$G%U%)%s%H$rA*Br$G$-$k$h$&$K$7$?!#(B
      <li>NICOLA$BG[NsI=%W%m%0%i%`$G(BJP/US$B%-!<%\!<%I$r@Z$jBX$($l$k$h$&$K$7$?!#(B
    </ul>
  </tr>
</table>



<H3>$B:#8e$NM=Dj(B</H3>
<UL>
    <li>$B4{CN$N%P%0!'(BQ's Nicolatter$B$,4XCN$7$J$$%-!<!J(B[$B4A;z(B]$B4^$`!K$,?^7A%-!<$rDI$$H4$/$3$H$,$"$k!#L$Dj5A%-!<$b%P%C%U%!$KN/$a$l$P$$$$$N$OJ,$+$C$F$$$k$s$@$,!$%-!<%G!<%?$NN.$l$rAK32$7$F$7$^$&!#:$$C$?!#(B
    <li>$B4{CN$N%P%0!'!V%a%$%sB&$N?t;z%-!<$G8uJdA*Br!W%A%'%C%/$r(BOFF$B$K$7$F$$$F$b8uJdA*Br$G$-$F$7$^$&!#$3$l$b$I$3$KLdBj$,$"$k$+J,$+$C$F$$$k$,!$:#EY$O(BATOK11/12$B$,;H$($J$/$J$k!#:$$C$?!#(B
</UL>
















<H2><A name="spwrap">Q's SP Wrapper</A></H2>

<TABLE BORDER=1>
  <TR><TH ALIGN=RIGHT>$B<oJL(B
    <TD>$B%U%j!<%=%U%H%&%'%"!J4sIU4?7^!K(B
  </tr>
  <TR><TH ALIGN=RIGHT valign=top>$BI,MW(BDLL  
    <TD>v1.05$B$^$G!'(BMFC40.DLL, MSVCRT40.DLL<BR>
      v1.06$B0J9_!'(BMFC42.DLL, MSVCRT.DLL, MSVCP50.DLL<br>
      v1.30$B0J9_!'ITMW(B
  </tr>
  <TR><TH align=right>NIFTY$B$G$N8x3+@h(B
    <TD>FWINAL LIB(14)
  </tr>
</TABLE>

<P>$B!!(BQ's SP Wrapper$B$O!$(BHTML/SGML$BJ8K!%A%'%C%/MQ$N%U%m%s%H%(%s%I$G$9!#(B

<p><a href="images/spw.jpg"><img src="images/spws.jpg" alt="SCREEN SHOT">$B%9%/%j!<%s%7%g%C%H(B/SCREEN SHOT</a>


<H3>$BGX7J$HA@$$(B</H3>

<p>$B!!(BWeb$B%5%$%H$J$I$G8x3+$9$k(BHTML$B$K8m$j$,$"$k$H!$%V%i%&%6$K$h$C$F$OI=<($,Mp$l$?$j!$9s$$$H$-$K$O0[>o=*N;$9$k$3$H$,$"$j$^$9!#(B

<p>$B!!$7$+$7!$<+J,$,;H$C$F$$$k(BWeb$B%V%i%&%60J30$N%V%i%&%6$G$N%A%'%C%/$O$J$+$J$+LLE]$G$9!#(B

<P>$B!!(BQ's SP Wrapper$B$r;H$($P!$4JC1$K(BHTML$B%U%!%$%k$NJ8K!%A%'%C%/$,$G$-$^$9!#(B


<H3>$BFCD'(B</H3>

<UL>
  <LI>Q's SP Wrapper$B$K(BHTML$B%U%!%$%k$r%I%m%C%W$9$k$@$1$G8!::$G$-$^$9!#(B
  <LI>$B%(%G%#%?$J$I$+$i8F$S=P$;$^$9!#(B
  <LI>HTML$B$NDj5A!J(BDTD$B!K$rMxMQ$9$k$N$G!$@53N$+$D87L)$G$9!#(B
  <li>CGI$B$J$IF0E*$K%Z!<%8$r@8@.$9$k>l9g$G$b8!::$G$-$^$9!#(B
  <LI>SGML$BJ8=q$N8!::$b$G$-$^$9!#(B
</UL>

<P>$B!!(B<em style="color: red">$B=EMW!'(B</em><EM>$BJLES!$%P%C%/%(%s%I$H$7$F(BSP 1.2$B0J>e$,I,MW$G$9(B</EM>$B!#(BSP$B$O(B<A href="http://www.jclark.com/">James Clark's Home Page</A>$B$+$iF~<j$G$-$^$9!#(B




<H3>$B%U%!%$%k!?MzNr(B</H3>

<TABLE BORDER=1>

<TR><TD NOWRAP ROWSPAN="2">1.30a
  <TD nowrap>$B8x3+F|!'(B2000.09.17($BF|(B) &nbsp; $B%U%!%$%k!'(B<A href="archives/spw130a.lzh">spw130a.lzh</A>$B!J(B501,348$B%P%$%H!K(B
  <TR><TD>
    <UL>
      <li>$B:n6H%;%C%H!J(BWorking Set$B!K$rF3F~$7!$F1$8%U%!%$%k$r8!::$7$d$9$/$7$?!#(B
      <li>MFC DLL$B$rJL$KI,MW$H$7$J$/$J$C$?!#(B
      <li><em>v1.30a: v1.30$B$G%"!<%+%$%VFb$N%U%!%$%kL>$,(B8+3$B7A<0$rD6$($k$?$a$*$+$7$/$J$C$F$$$?E@$r=$@5$7$?!#(B</em>
    </UL>

<TR><TD NOWRAP ROWSPAN="2">1.21
    <TD nowrap>$B8x3+F|!'(B1999.09.29($B?e(B) &nbsp; $B%U%!%$%k!'(B<A href="archives/sprap121.lzh">sprap121.lzh</A>$B!J(B170,043$B%P%$%H!K(B
    <TR><TD><UL>
        <li>$B%U%!%$%kL>$K6uGr$,4^$^$l$F$$$k$H8!::$G$-$J$+$C$?=EBg$J%P%0$r=$@5$7$?!#$3$N%P%0$O(Bv1.20$B$G:.F~$7$F$$$?!#(B
        <li>Web$B%5!<%P!<$+$i%U%!%$%k$r<hF@$G$-$J$+$C$?>l9g$N%A%'%C%/$,4E$+$C$?E@$r=$@5$7$?!#(B
    </UL>
</tr>

</TABLE>









<H2><A name="qilm">Q's Internet Link Manager (QILM)</A></H2>


<TABLE BORDER=1>
  <TR><TH ALIGN=RIGHT>$B<oJL(B                
    <TD>$B%7%'%"%&%'%"!J#2!$#8#0#01_!K(B
  </tr>
  <TR><TH ALIGN=RIGHT valign=top>$BI,MW(BDLL
    <TD>v2.03$B$^$G!'(BMFC40.DLL, MSVCRT40.DLL<BR>
      v2.04$B0J9_!'(BMFC42.DLL, MSVCRT.DLL, MSVCP50.DLL<br>
      v2.64$B0J9_!'$J$7(B
  </tr>
  <TR><TH align=right>NIFTY$B$G$N8x3+@h(B
    <TD>FWINAL LIB(14)
  </tr>
</TABLE>

<p>$B!!(BQILM$B$O!$%V%C%/%^!<%/JT=8!$(BWeb/$B%a!<%k99?7%A%'%C%/%=%U%H$G$9!#(B

<p><a href="images/qilm.jpg"><img src="images/qilms.jpg" alt="SCREEN SHOT">$B%9%/%j!<%s%7%g%C%H(B/SCREEN SHOT</a>

<H3>$BGX7J$HA@$$(B</H3>
$B!!(BInternet Explorer$B$*5$$KF~$j!$$^$?$O(BNetscape Navigator$B%V%C%/%^!<%/$,A}$($F$/$k$H!$4IM}$,BgJQ$K$J$C$F$-$^$9!#$^$?!$99?7$5$l$F$$$J$$%Z!<%8$r2s$k$H$,$C$+$j$7$^$9!#(B
<p>$B!!(BQILM$B$G$O!$3F%[!<%`%Z!<%8!J(BWeb$B%5%$%H!K$K$D$$$F!$99?7$5$l$F$$$k$+$I$&$+%A%'%C%/$G$-$^$9!#$3$N$H$-!$(BWeb$B%V%i%&%6!J(BIE, NN$BEy!K$G3+$/%Z!<%8$H99?7%A%'%C%/$9$k%Z!<%8$rJL$K;XDj$G$-$k$N$G!$99?7>pJs$r%H%C%W%Z!<%80J30$K=q$/(BWeb$B%5%$%H$N%A%'%C%/$bLdBj$J$/$G$-$^$9!#(B

<p>$B!!Bg5,LO$J(BWeb$B%5%$%H$@$HJ#?t$NJ,N`$rM?$($?$$$3$H$,$"$j$^$9!#$=$&$G$J$/$F$b!$%V%C%/%^!<%/$,A}$($F$/$k$HCN$i$:$K$$$/$D$b$NJ,N`$KB?=EEPO?$7$F$7$^$&$3$H$b$"$j$^$9!#(BQILM$B$O$"$k(BWeb$B%5%$%H$KJ#?t$NJ,N`$rM?$($F$b99?7F|;~$J$I$N>pJs$r0l85E*$K4IM}$9$k$N$G!$<j7Z$KJ#?t$NJ,N`$rM?$($k!J%U%)%k%@$KF~$l$k!K$3$H$,$G$-$^$9!#(B

<p>$B!!(BIE, NN$B!$$"$k$$$OB>$N%j%s%/4IM}%=%U%H$J$I%V%C%/%^!<%/C10L$G4IM}$9$k%=%U%H$G$O!$(BWeb$B%5%$%H$,0z$C1[$7$7$?$H$-$d!$%3%a%s%H$rJQ99$7$?$$$H$-$J$IFsEY<j4V$K$J$C$F$7$^$$$^$9!#(BQILM$B$J$i$3$N$h$&$J>l9g$K$b0l2sJQ99$9$k$@$1$G:Q$^$9$3$H$,$G$-$^$9!#(B

<H3>$BFCD'(B</H3>
<ol>

<li>$B99?7%A%'%C%/5!G=(B
<ul>
    <li>Web$B%5%$%H$H%a!<%k%\%C%/%9!J(BPOP3$B!K$N99?7>u67$r%A%'%C%/$G$-$^$9!#(B
    <li>Web$B%5%$%H$K$D$$$F$O!$99?7F|;~$,ITL@$J$H$-!$%U%!%$%k%5%$%:$,JQ$o$C$?$H$-99?7$,$"$C$?$H8+$J$7$^$9!#(B
    <li>$B%a!<%k%\%C%/%9$K$D$$$F$O!$%5!<%P!<$,(BAPOP$B!J%Q%9%o!<%I$N0E9f2=!K$KBP1~$7$F$$$l$P!$<+F0$G0E9f2=$7$^$9!#(B
</UL>

<li>$B%@%&%s%m!<%I5!G=(B
<ul>
    <li>$B%U%l!<%`!$2hA|Ey$r4^$a$F!$%Z!<%8C10L$G(BWeb$B%5%$%H$N%@%&%s%m!<%I$,$G$-$^$9!#(B
    <li>$B%j%s%/$r$?$I$C$F!$0l3g$7$F%@%&%s%m!<%I$G$-$^$9!#(B
    <li>$B=d2sHO0O$r8DJL$K;XDj$7!$$=$NHO0OFb$N%Z!<%8$@$1$K8BDj$G$-$^$9!#(B
</ul>

<li>$BJT=85!G=(B
<UL>
    <LI>$B%(%/%9%W%m!<%i$N$h$&$J2hLL9=@.$G!$%U%)%k%@$rJ,N`$K;H$$$^$9!#(B
    <li>$B%j%s%/!J=d2s@h!K$r%I%i%C%0!u%I%m%C%W$GJ,N`$7D>$7$?$j$G$-$^$9!#(B
    <LI>$B$"$k(BWeb$B%5%$%H!J%[!<%`%Z!<%8!K$K$D$$$FJ#?t$NJ,N`!J%U%)%k%@!K$KF~$l$F$b!$$=$NF10l@-$,3NJ]$5$l$^$9!#%5%$%H$,0z$C1[$7$F$b!$0l2sJQ99$9$k$@$1$G$9$_$^$9!#(B
    <li>Netscape Navigator, Internet Explorer, WWWC 0.93$B$+$i=d2s@h$r<h$j9~$a$^$9!#$^$?!$(BNetscape Navigator$B%V%C%/%^!<%/(B, Internet Explorer$B$*5$$KF~$j7A<0!$$"$k$$$O%+%9%?%^%$%:2DG=$J(BHTML$B%Z!<%8$H$7$FJ]B8$G$-$^$9!#(B
    <li>Web$B%V%i%&%6$G3+$$$F$$$k%Z!<%8$rD>@\EPO?$G$-$^$9!#%j%s%/$r3+$/(BWeb$B%V%i%&%6$N%&%#%s%I%&$r;XDj$G$-$^$9!#(B
    <LI>$B@[:n$N(BIE Favorites Collector$B$NA45!G=$r4^$s$G$$$^$9!#(B
</ul>

</ol>

<p>$B!!Aw6b$O!$(B<a href="https://sw.vector.co.jp/swreg/step1.reserve?srno=SR006751">$B%7%'%"%l%8!&%5!<%S%9(B STEP1_2$B!'(BQ's Internet Link Manager</a>$B$+$i$G$-$^$9!#(B

<H3>$B%U%!%$%k!?MzNr(B</H3>

<TABLE border=1>

<tr><td nowrap rowspan="2">2.65
  <td nowrap>$B8x3+F|!'(B2000.03.28 ($B2P(B) &nbsp; $B%U%!%$%k!'(B<A href="archives/qilm265.lzh">qilm265.lzh</a>$B!J(B688,860$B%P%$%H!K(B
  <tr><td><ul>
      <li>$B%j%s%/@h$r?7$7$$(BWeb$B%V%i%&%6$N%&%#%s%I%&$G3+$1$k$h$&$K$7$?!#(B
      <li>QILM$B$rJ#?t5/F0$G$-$k$h$&$K$7$?!#$3$l$GJ#?t$N(B.qil$B%U%!%$%k$rF1;~$K3+$1$k$h$&$K$J$C$?!#(B
      <li>QILM$B$N5/F0;~$K(B.qil$B%U%!%$%k$r<+F0$GFI$_9~$^$J$$$h$&$K$7$?!#(B.qil$B%U%!%$%k$X$N%7%g!<%H%+%C%H$r%G%9%/%H%C%W$KCV$$$F!$$=$A$i$r3+$1$PA`:n@-$O(Bv2.64$B0JA0$HJQ$o$i$J$$!#(B
    </ul>
</tr>
<tr><td nowrap rowspan="2">2.64
    <td nowrap>$B8x3+F|!'(B1999.10.16($BEZ(B) &nbsp; $B%U%!%$%k!'(B<A href="archives/qilm264.lzh">qilm264.lzh</a>$B!J(B755,856$B%P%$%H!K(B
    <tr><td><ul>
        <li>$B$$$m$$$m!#(B
    </ul>
</tr>
</TABLE>


<h3>$B:#8e$NM=Dj(B</h3>
<ul>
    <li>$B=d2s4V3V$r;XDj$G$-$k$h$&$K$9$k!#(B
    <li>$B!V85$KLa$9!W%3%^%s%I$r<BAu$9$k!#(B
    <li>HTML$B2r@O$G(B&lt;META http-equiv="refresh" content="3;URL=http://hogehoge/">$B$r<BAu$9$k!#(B
    <li>HTML$B2r@O$G(Bobject$BMWAG$N(Bcodebase$BB0@-$r<BAu$9$k!#(B
    <li>$B%4%_H"$X$N0\F0$N%?%$%_%s%0$O:F9M$NI,MW$"$j!#(B
</ul>













<H2><A name="calc">Q's Calc</A></H2>

<TABLE BORDER=1>
<TR><TH ALIGN=RIGHT>$B<oJL(B                <TD>$B%U%j!<%=%U%H%&%'%"!J4sIU4?7^!K(B			</tr>
<TR><TH ALIGN=RIGHT valign=top>$BI,MW(BDLL  <TD>v1.03$B$^$G!'(BMFC40.DLL, MSVCRT40.DLL<BR>
                                            v1.04$B0J9_!'(BMFC42.DLL, MSVCRT.DLL, MSVCP50.DLL	</tr>
<TR><TH align=right>NIFTY$B$G$N8x3+@h(B     <TD>FWINAC LIB(4)					</tr>
</TABLE>

<P>$B!!(BQ's Calc$B$O!$%3%s%=!<%k7??t<0EEBn$G$9!#9b$$@:EY$r;}$A$J$,$i<j7Z$K7W;;$G$-$^$9!#(B

<p><a href="images/calc.jpg"><img src="images/calcs.jpg" alt="SCREEN SHOT">$B%9%/%j!<%s%7%g%C%H(B/SCREEN SHOT</a>

<H3>$BGX7J$HA@$$(B</H3>

<P>$B!!(BWindows$BMQ$NEEBn%=%U%H$OB?$/$"$j$^$9$,!$;d$,;n$7$?HO0O$G$O$I$l$bK\J*$NEEBn$rLOJo$7$?$b$N$G!$$=$l$J$iK\J*$NEEBn$NJ}$,JXMx$J$h$&$K;W$$$^$7$?!#(B

<!--
<P>$B!!$^$?!$%*%s%i%$%s%=%U%H$NEEBn$K8B$i$:(BExcel 97$B$d(B1-2-3 97$B$G$5$(!$IT:Y9)$J7W;;4V0c$$$r$7$P$7$P$7$^$9!#$?$H$($P(BExcel 97$B$O(B(-0.04)^(-0.04)$B$,%(%i!<$K$J$i$:!J$3$l$O3g8L$NI>2A$K%P%0$,$"$k$?$a!K!$(B1-2-3 97$B$O(B0.09-(0.1-0.01)$B$,(B0$B$K$J$j$^$;$s!J$3$l$O(B2$B?J?t$X$N4pDlJQ49$GH/@8$9$k8m:9$N9MN8$,7g$1$F$$$k$?$a!K!#(B
-->

<p>$B!!(BQ's Calc$B$O!$EEBn$NLOJo$G$O$J$/!$<0$rD>@\F~NO$7$F7W;;$G$-$^$9!#<0$rF~NO$9$k2hLL$K7k2L$bI=<($9$k$N$G!$F@$i$l$?7W;;7k2L$+$i<!$N<0$rAH$_N)$F$?$j!$<0$r=$@5$7$F:F7W;;$9$k$N$bMF0W$G$9!#(B

<p>$B!!(BQ's Calc$B$O!$%f!<%6!<$,@_Dj$7$?7e?t!J:GBg(B2,000$B7e!K$^$G7W;;$G$-!$K\J*$NEEBn$"$k$$$OB>$NEEBn%=%U%H$N$h$&$K!$7e?t$,B-$j$J$$!$$H$$$&$3$H$,$"$j$^$;$s!#(B



<H3>$BFCD'(B</H3>

<UL>
    <LI>$B?t<0$r$=$N$^$^7W;;$G$-$^$9!#(B
    <LI>$B@:EY$r%f!<%6!<$,;XDj$G$-!$(B2,000$B7e$^$G7W;;$G$-$^$9!#(B
    <LI>$B%f!<%6!<$,;XDj$7$?%-!<$G8F$S=P$;$^$9!#(B
    <LI>$B;X?t4X?t!$BP?t4X?t!$;03Q4X?t$J$I(B30$B0J>e$NAH$_9~$_4X?t$,;H$($^$9!#(B
</UL>


<H3>$B%U%!%$%k!?MzNr(B</H3>

<TABLE BORDER=1>
<tr><td nowrap rowspan="2">1.12
    <td nowrap>$B8x3+F|!'(B1999.03.28($BF|(B) &nbsp; $B%U%!%$%k!'(B<A href="archives/qcalc112.lzh">qcalc112.lzh</a>$B!J(B139,611$B%P%$%H!K(B
    <tr><td><ul>
        <li>arcsin(1)$B$,(B0$B=|;;%(%i!<$K$J$k$3$H$,$"$C$?%P%0$r=$@5$7$?!#(B
        <li>$BAH$_9~$_4X?t$G8m:9$,L\N)$C$?$N$G!$$b$&(B1$B7eM>J,$K7W;;$9$k$h$&$K$7$?!#(B
        <li>$B6uGr$NF~$C$?%U%)%k%@$K%$%s%9%H!<%k$7$?$H$-$K%X%k%W$,8F$S=P$;$J$+$C$?%P%0$r=$@5$7$?!#(B
    </ul>
</tr>
<tr><td nowrap rowspan="2">1.11
    <td nowrap>$B8x3+F|!'(B1999.03.20($BEZ(B) &nbsp; $B%U%!%$%k!'(B<A href="archives/qcalc111.lzh">qcalc111.lzh</a>$B!J(B123,879$B%P%$%H!K(B
    <tr><td><ul>
        <li>$B4X?t8F$S=P$7$K:$Fq$,$"$C$?$N$G!$(B3$B7e$4$H$N?tCM$N6h@Z$j$r!V(B,$B!W$+$i!V(B'$B!W$KJQ99$7$?!#(B
        <li>$B%3%a%s%H$r!V(B!$B!W$+$i!V(B#$B!W$KJQ99$7$?!#(B
        <li>$B5U;03Q4X?t$NL>A0$r(Basin(), acos(), atn()$B$+$i(Barcsin(), arccos(), arctan()$B$K!$%3%;%+%s%H$r(Bcsc()$B$+$i(Bcosec()$B$KJQ99$7$?!#(B
        <li>$B1_<~N((Bpi()$B!$;X?t4X?t(Bexp()$B!$BP?t4X?t(Blog()$B$N@:EY$,(B100$B7e$GF,BG$A$K$J$C$F$$$?$N$r!$:GBg(B2,000$B7e$K3HD%$7$?!#(B
        <li>$B;03Q4X?t(Bsin(), cos(), tan()$B$N@:EY$,(B15$B7e$@$C$?$N$r!$:GBg(B2,000$B7e$K3HD%$7$?!#(B
        <li>arcsin(), arccos(), arctan()$B$N@:EY$r(B15$B7e$+$i:GBg(B2,000$B7e$K3HD%$7$?!#(B
        <li>$B%$%W%7%m%s(Beps()$B$,Dj?t$@$C$?$N$r!$@5$7$/<BAu$7$?!#(B
        <li>$B2~9T$r4^$^$J$$J8;zNs$rE=$jIU$1$?$H$-!$M=4|$;$:7W;;$,3+;O$5$l$k%P%0$r=$@5$7$?!#(B
        <li>'1e+100'$B$r(B'1.0e100'$B$HI=<($9$k$h$&$K$7$?!#(B
        <li>$B9T$NESCf$G2~9T$7$?$H$-!$9T$,J,CG$5$l$k$3$H$,$"$C$?%P%0$r=$@5$7$?!#(B
    </ul>
</tr>
</TABLE>



<H3>$B:#8e$NM=Dj(B</H3>
<UL>
    <LI>$B%^%/%m!J%f!<%6!<Dj5A4X?t!K$r<BAu$9$k!#(B
</UL>














<H2><A name="iefc">IE Favorites Collector</A></H2>

<TABLE BORDER=1>
<TR><TH ALIGN=RIGHT>$B<oJL(B    <TD>$B%U%j!<%=%U%H%&%'%"!J4sIU4?7^!K(B	</tr>
<TR><TH ALIGN=RIGHT>$BI,MW(BDLL         <TD>MFC40.DLL, MSVCRT40.DLL	</tr>
<TR><TH align=right>NIFTY$B$G$N8x3+@h(B <TD>FWINAL LIB(14)		</tr>
</TABLE>

<P>$B!!(BIE Favorites Collector$B$O!$%$%s%?!<%M%C%H!&%V%C%/%^!<%/JQ49%=%U%H$G$9!#(B

<H3>$BFCD'(B</H3>

<P>$B!!<!$N$3$H$,$G$-$^$9!#(B
<UL>
    <LI>Internet Explorer$B$N!V$*5$$KF~$j!W$r(BNetscape Navigator$B$N%V%C%/%^!<%/$KJQ49(B
    <LI>Internet Explorer$B$N!V$*5$$KF~$j!W$rFH<+$N%j%s%/=8!J%j%s%/$r0lMw$K$7$?(BHTML$B%U%!%$%k!K$KJQ49(B
    <LI>Netscape Navigator$B$N%V%C%/%^!<%/$r(BInternet Explorer$B$N!V$*5$$KF~$j!W$KJQ49(B
    <LI>Netscape Navigator$B$N%V%C%/%^!<%/$rFH<+$N%j%s%/=8$KJQ49(B
</UL>
<P>$B!!M'?M$K%j%s%/=8$rEO$7$?$$$H$-$d!$%$%s%?!<%M%C%H$G8x3+$7$?$$$H$-!$<+J,@lMQ$N%9%?!<%H%Z!<%8$r:n$j$?$$$H$-$J$I$K;H$($^$9!#(B
<P>$B!!FH<+%j%s%/=8$r:n@.$9$k$H$-$K;H$&%?%0$O<+M3$KJQ99$G$-$^$9!#(B

<p>$B!!(BQILM$B$,(BIE Favorites Collector$B$NA45!G=$r4^$s$G$$$^$9!#(B


<H3>$B%U%!%$%k!?MzNr(B</H3>

<a hREF="archives/iefc203.lzh">iefc203.lzh</A>




















<H2><A name="resalarm">Q's ResAlarm</A></H2>

<TABLE BORDER=1>
<TR><TH ALIGN=RIGHT>$B<oJL(B                <TD>$B%U%j!<%=%U%H%&%'%"!J4sIU4?7^!K(B		</tr>
<TR><TH ALIGN=RIGHT valign=top>$BI,MW(BDLL  <TD>v1.01$B$^$G!'(BMFC40.DLL, MSVCRT40.DLL<BR>
                                            v1.02$B0J9_!'(BMFC42.DLL, MSVCRT.DLL, MSVCP50.DLL</tr>
<TR><TH align=right>NIFTY$B$G$N8x3+@h(B     <TD>FWINAC LIB(8)				</tr>
</TABLE>

<P>$B!!(BQ's ResAlarm$B$O!$%7%9%F%`%j%=!<%94F;k!&7Y9p%=%U%H$G$9!#(B<em style="color: red">$B$3$N%=%U%H%&%'%"$N3+H/$O=*N;$7$F$$$^$9!#(B</em>
<H3>$BGX7J$HA@$$(B</H3>

$B!!!J:o=|!K(B

<H3>$BFCD'(B</H3>

$B!!!J:o=|!K(B

<H3>$B%U%!%$%k!?MzNr(B</H3>

<TABLE BORDER=1>

<TR><TD NOWRAP ROWSPAN="2">1.02
    <TD NOWRAP>$B8x3+F|!'(B1998.01.30 &nbsp; $B%U%!%$%k!'(B<A href="archives/resal102.lzh">resal102.lzh</A>
    <TR><TD>
    <UL>
        <LI>Visual C++ 5.0 SP3$B$G:F%3%s%Q%$%k$7$?!#(B
    </UL>
</tr>
</TABLE>









<hr>
<a href="index.htm">[$B%H%C%W%Z!<%8$XLa$k(B]</a>
<!--#exec cmd="./count.pl"-->

<hr>
<P align=center><font face="Times New Roman"><i>
Copyright (c) 1997-2002 <A HREF="mailto:vzw00011@nifty.ne.jp">HORIKAWA Hisashi</a>.<br>
All rights reserved.<br><br>
<a href="http://www2.airnet.ne.jp/pak04955/">Netsphere Laboratories</a>
</i></font>








<!-- VC layer -->
<SCRIPT LANGUAGE="JavaScript" type="text/javascript">
<!--
document.write('<LAYER SRC="' + ValueBanner + '&t=html" WIDTH="' + IWidth + '" ');
document.write('HEIGHT="' + IHeight + '" VISIBILITY="hide" onLoad=');
document.write('"moveToAbsolute(VC.pageX,VC.pageY); clip.width=' + IWidth + '; ');
document.write('clip.height=' + IHeight + '; visibility=\'show\'"></LAYER>');
// -->
</SCRIPT>
<!-- vc layer -->

</body>
</html>
