<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML LANG="ja">
<head>
    <META HTTP-EQUIV="Content-Language" Content="ja">
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-2022-JP">

    <title>Q's Nicolatter for X</title>
    <LINK rel="stylesheet" href="./default.css" type="text/css">
</head>
<BODY BGCOLOR="white" TEXT="BLACK" LINK="blue" vlink="teal" alink="#0066FF">

<h1>Emacs20</h1>
<hr>

<p>Q's Nicolatter$B$O!$(BEmacs20$B$G$b;H$($^$9!#$?$@$7(BXIM$B$K4XO"$9$k(BEmacs$B$N%P%0$r2sHr$9$k%Q%C%A!JE:IU$7$F$$$^$9!K$rEv$F$kI,MW$,$"$j$^$9!#(B


<pre class=comline>
    /opt$ tar zxvf emacs-20.4.tar.gz
    /opt$ tar zxvf leim-20.4.tar.gz
    /opt/emacs-20.4$ patch -s -p1 &lt; ../emacs-20.4-xim.diff

    /opt/emacs-20.4$ ./configure
    /opt/emacs-20.4$ make
    /opt/emacs-20.4$ su
    /opt/emacs-20.4# make install
</pre>

<p>$B!!4D6-%U%!%$%k(B~/.emacs$B$r=q$-49$($F!$(BXIM$B7PM3$N%(%s%3!<%G%#%s%0$r;XDj$7$^$9!#(Bkeyboard-coding-system$B$r@_Dj$7$J$$$H!$(Biso8859-1$B$H8+$J$5$l$^$9!#(B

<pre>
    (set-language-environment "Japanese")
    (set-keyboard-coding-system 'euc-jp)            &lt;-- $B$3$l(B
</pre>


<p>$B!!<!$K%U%)%s%H@_Dj$rJQ99$7$^$9!#(B~/.Xdefaults$B%U%!%$%k$K<!$N9T$rDI2C$7$^$9!#(B

<pre>
    Emacs.font: -*-fixed-medium-r-normal--14-*-*-*-*-*-*-*
</pre>

<p>$B!!BgJ8;z>.J8;z!$(B'*'$B$N?t$KCm0U$7$F2<$5$$!#(BEmacs*font$B$G$O$"$j$^$;$s!#(B








<hr>
<p class="copyright">Copyright (c) 1998-2005 <a HREF="mailto:vzw00011@nifty.ne.jp">HORIKAWA Hisashi</a>.<br>All rights reserved.
<p class="copyright"><a href="http://www.nslabs.jp/">Netsphere Laboratories</a>
</body>
</html>
