<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML LANG="ja">
<head>
    <META HTTP-EQUIV="Content-Language" Content="ja">
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-2022-JP">

    <title>Q's Nicolatter for X</title>
    <LINK rel="stylesheet" href="./default.css" type="text/css">
</head>
<BODY BGCOLOR="white" TEXT="BLACK" LINK="blue" vlink="teal" alink="#0066FF">

<h1>$BMzNr!J!A(Bv1.0$B!K(B</h1>
<hr>



<dl>
    <dt>0.01    1998.11.22($BF|(B)
    <dt>0.02    1998.12.06($BF|(B)
    <dt>0.03    1998.12.09($B?e(B)
    <dt>0.04    1998.12.13($BF|(B)
    <dt>0.10    1998.12.16($B?e(B)
    <dd><ul>
            <li>$B%-!<F~NO$r<u$1IU$1$F!$E,Ev$J%?%$%_%s%0$G3NDj$G$-$k$h$&$K$J$C$?!#(B
        </ul>
    <dt>0.11    1998.12.27($BF|(B)
    <dd><ul>
            <li>$B%m!<%^;zJQ49%k!<%A%s$rJL$KE:IU$7$?!#(B
        </ul>
    <dt>0.15    1998.12.29($B2P(B)
    <dt>0.16    1998.12.31($BLZ(B)
    <dt>0.20    1999.01.03($BF|(B)
    <dt>0.21    1999.01.04($B7n(B)
    <dd><ul>
            <li>$B%a%bD"$,$G$-$F$-$?!#$^$@$-$A$s$HF0$+$J$$$,!#(B
        </ul>
    <dt>0.22    1999.01.07($BLZ(B)
    <dt>0.23    1999.01.10($BF|(B)
    <dt>0.24    1999.01.14($BLZ(B)
    <dt>0.25    1999.01.15($B=K(B)
    <dt>0.26    1999.01.17($BF|(B)
    <dt>0.27    1999.01.22($B6b(B)
    <dt>0.28    1999.01.31($BF|(B)
    <dd><ul>
            <li>gtk+$B$K$h$k(BIM$B%5!<%P!<EPO?%k!<%A%s$r=q$$$?!#%=%1%C%H<~$j$K%P%0$,$"$k$N$+F~NO3+;O$^$G;j$C$F$J$$!#860x$OITL@!#(B
            <li>$B%-!<G[NsJQ99%W%m%0%i%`$r=q$$$?!#(B
        </ul>
    <dt>0.29    1999.02.03($B?e(B)
    <dd><ul>
            <li>$B%a%bD"%W%m%0%i%`$r(BMDI$B$K$7$?!#(B
        </ul>
    <dt>0.30    1999.02.07($BF|(B)
    <dd><ul>
            <li>$B%-!<G[NsJQ99%W%m%0%i%`$r=$@5!#(B
        </ul>
    <dt>0.31    1999.02.11($B=K(B)
    <dd><ul>
            <li>gtk+$B$N5/F0%k!<%A%s$r=q$$$?!#(B
        </ul>
    <dt>0.32    1999.02.13($BEZ(B)
    <dd><ul>
            <li>$B%a%bD"$N<BAu$,0lDL$j=*$o$C$?$N$G!$(B"mini notepad 0.9"$B$H$7$?!#(B
        </ul>
    <dt>0.33    1999.02.19($B6b(B)
    <dt>0.34    1999.02.22($B7n(B)
    <dd><ul>
            <li>gtk+$B5/F0%k!<%A%s$,F0:n$9$k$h$&$K$J$C$?!#(B
        </ul>
    <dt>0.35    1999.02.23($B2P(B)
    <dd><ul>
            <li>$B4J0W%+%l%s%@!<$rIU$1$?!#(B
        </ul>
    <dt>0.36    1999.02.26($B6b(B)
    <dd><ul>
        <li>mini notepad: $B%3%^%s%I%i%$%s$+$i5/F0;~$K%U%!%$%kL>$r;XDj$G$-$k$h$&$K$7$?!#(B
        <li>nicolatter: $B%m!<%^;zF~NOIt$r2~NI$7$?!#(B
        </ul>
    <dt>0.37    1999.03.02($B2P(B)
    <dd><ul>
        <li>gtk+$B%"%W%j$,5/F0$G$-$J$$LdBj$KBP=h$7$?!#$?$@$7(Bgtk+$B%"%W%j$r(B--sync$B%*%W%7%g%sIU$-$G5/F0$9$k$H(B<q>Xlib: sequence lost (0x10148 > 0x149) in reply type 0x13!</q>$B7Y9p$,$G$k!#(B
        </ul>
    <dt>0.38    1999.03.03($B?e(B)
    <dd><ul>
        <li>[Ctrl] + [Space]$B$G%b!<%IJQ99$9$k$h$&$K$7$?!#(B
        </ul>
    <dt>0.51    1999.03.06($BEZ(B)
    <dd><ul>
        <li>$B4A;z8!:w%@%$%"%m%0$r=q$$$?!#(B
        <li>$B%m!<%^;z2>L>JQ49It$r=q$$$?!#(B
        <li>$B%-!<G[NsDj5A%W%m%0%i%`$r=q$$$?!#(B
        </ul>
    <dt>0.60    1999.03.08($B7n(B)
    <dd><ul>
        <li>$B%m!<%^;z2>L>JQ49It$r=q$-D>$7$?!#:81&%+!<%=%k%-!<$G%-%c%l%C%H0\F0!$(B[Backspace]$B$H(B[Delete]$B$GJ8;z:o=|$,$G$-$k$h$&$K$7$?!#(B
        </ul>
    <dt>0.61    1999.03.11($BLZ(B)
    <dd><ul>
        <li>roma: [Space]$B$GJQ49!$(B[$B"*(B]$B$GJ8@a?-$P$7!$(B[$B"+(B]$B$GJ8@a=L$a!$(B[$B",(B]$B!$(B[$B"-(B]$B$GJ8@a0\F0!$(B[Enter]$B$GA43NDj$r<BAu$7$?!#(B
        <li>notepad: $B8!:w%@%$%"%m%0$r=q$$$?!#!J8!:w$O$G$-$J$$!K(B
        <li>notepad: $B%^%&%9$N%a%K%e!<%\%?%s$G%]%C%W%"%C%W%a%K%e!<$r=P$9$h$&$K$7$?!#(B
        <li>notepad: $BF|IU$H;~9o$rA^F~$G$-$k$h$&$K$7$?!#(B
        <li>palette: $B5-9fI=$G7S@~AGJR$,I=<($5$l$J$$%P%0$r=$@5$7$?!#4A;z%3!<%II=$G%U%)!<%+%9$rF@$kJ}K!$,J,$+$i$J$$!#(B
        </ul>
</dl>

<table border>
<tr><th>$BHG(B<th>$B<g$JFbMF(B

<tr><td nowrap rowspan="2">0.62
    <td nowrap>$B8x3+F|!'(B1999.03.15($B7n(B)
    <tr><td><ul>
        <li>notepad: $B%]%C%W%"%C%W%a%K%e!<$NCf?H$r<BAu$7$?!#$G$b%a%K%e!<%P!<$H%]%C%W%"%C%W%a%K%e!<$G%O%s%I%i$N0z?t$,0c$&$C$F!$(Bgtk+$BJQ!#(B
        <li>roma: $BJ8@aLa$7$OH~L#$/$J$5$=$&$@$C$?$N$G!$A4La$7$r<BAu$7$?!#(B
        <li>$B%i%$%V%i%j(B: $BAjBP(BURI$B$N2r7h$,%P%0%P%0$@$C$?$N$r=$@5$7$?!#(B
    </ul>
<tr><td nowrap rowspan="2">0.63
    <td nowrap>$B8x3+F|!'(B1999.03.23($B2P(B)
    <tr><td><ul>
        <li>$BA4La$7$7$?$H$-!$%-%c%l%C%H$rKvHx$K0\F0$9$k$h$&$K$7$?!#(B
        <li>$B!V@hF,$K0\F0!W!$!VKvHx$K0\F0!W$r<BAu$7$?!#(B
    </ul>
<tr><td nowrap rowspan="2">0.64
    <td nowrap>$B8x3+F|!'(B1999.03.28($BF|(B)
    <tr><td><ul>
        <li>$B%i%$%V%i%j!'%@%$%"%m%0$rHsI=<($K$7$F!$:F$SI=<($9$k$HMn$A$k%P%0$r=$@5$7$?!#(B
        <li>nicolatter: $B2>L>4A;z%b!<%I$GF~NO$r%P%C%U%!$KN/$a$F!$(B[Enter]$B$G3NDj$G$-$k$h$&$K$J$C$?!#(B
        <li>gtk+$BIA<L%F%9%HMQ$K(Bscribble$B$rDI2C$7$?!#J]B8$b2?$b$G$-$J$$$,!#(B
    </ul>
<tr><td nowrap rowspan="2">0.65
    <td nowrap>$B8x3+F|!'(B1999.03.31($B?e(B)
    <tr><td><ul>
        <li>roma: 3$B2sL\$N<!8uJd$G8uJd0lMw%&%#%s%I%&$rI=<($9$k$h$&$K$7$?!#(B
        <li>roma: $BJ8@a?-$P$7!$=L$a$GJ8@aD9$,@5$7$/JQ99$G$-$J$$%P%0$r=$@5$7$?!#(B
        <li>nicolatter: over-the-spot$B$G%-%c%l%C%H0LCV$KJT=8%&%#%s%I%&$rI=<($9$k$h$&$K$7$?!#$^$@5sF0$,Ff!#(B
        <li>preedit: $B?75,$K=q$-D>$7$?!#?'$N07$$$KLdBj$,$"$k!#(B
        <li>notepad: $B%]%C%W%"%C%W%a%K%e!<$r!$%F%-%9%H$rA*Br$7$F$k$H$-$H$=$&$G$J$$$H$-$GJQ$($k$h$&$K$7$?!#(B
        <li>scribble: $B%Y%8%'6J@~$rIA$/$h$&$K$7$?!#(B
    </ul>
<tr><td nowrap rowspan="2">0.70
    <td nowrap>$B8x3+F|!'(B1999.04.10($BEZ(B)
    <tr><td><ul>
        <li>roma: $BF~NO!$JQ49$,JT=8%&%#%s%I%&>e$G$G$-$k$h$&$K$J$C$?!#(B
        <li>notepad: gtk+$B$N5sF0$,$*$+$7$$$N$G!$1&%/%j%C%/$K$h$k%]%C%W%"%C%W%a%K%e!<$rGQ;_$7$?!#(Bgtk+$B$,$b$C$H$^$H$b$K$J$C$?$iI|3h$9$kM=Dj!#(B
        <li>palette: $B4A;zI=$NI=<($r<BAu$7$?!#(B
    </ul>
<tr><td nowrap rowspan="2">0.80
    <td nowrap>$B8x3+F|!'(B1999.04.21($B?e(B)
    <tr><td><ul>
        <li>nicolatter: $BF|K\8lF~NO%5!<%P!<$H$7$F!$5/F0!$F~NO!$JQ49!$3NDj$,$G$-$k$h$&$K$J$C$?!#(B
    </ul>
<tr><td nowrap rowspan="2">0.81
    <td nowrap>$B8x3+F|!'(B1999.04.27($B2P(B)
    <tr><td><ul>
        <li>nicolatter: $B:G=i$NJQ49$,$b$?$D$/LdBj$r2sHr$7$?!#(B
        <li>nicolatter: $BKvHx$K(B'n'$B$r;D$7$FJQ49$9$k$H!$%m!<%^;zJQ49$7$F$+$i4A;zJQ49$9$k$h$&$K$7$?!#(B
        <li>keyconf: $B@)8f5!G=!$%-!<G[Ns$r0lDL$jJQ99$G$-$k$h$&$K$J$C$?!#(B
        <li>notepad: $B!V%&%#%s%I%&!W%a%K%e!<$+$i%&%#%s%I%&$r@Z$jBX$($?$H$-!$@Z$jBX$($?%&%#%s%I%&$r:GA0LL$K$b$C$F$/$k$h$&$K$7$?!#(B
        <li>palette: $B4A;z%3!<%II=$G%3!<%I$NI=<($,$:$l$F$$$?%P%0$r=$@5$7$?!#(B
        <li>statustest: $B@_Dj%@%$%"%m%0$rI=<($G$-$k$h$&$K$J$C$?!#(B
        <li>$B%i%$%V%i%j!'%a%C%;!<%8%\%C%/%9$N!VN;2r!W%\%?%s$N%G%6%$%sJQ99(B
        <li>$B%i%$%V%i%j!'(Bptr_set::erase()$B$GMn$A$k%P%0$r=$@5$7$?!#(B
        <li>$B%i%$%V%i%j!'(BURI$B$H$7$F;H$($J$$J8;z$,=P8=$7$?$i!$(BURI$B$N%Q!<%9$rBG$A@Z$k$h$&$K$7$?!#(B
    </ul>

<tr><td nowrap rowspan="2">0.82
    <td nowrap>$B8x3+F|!'(B1999.04.28($B?e(B)
    <tr><td><ul>
        <li>calen: $BEvF|$N%a%b$r5/F0;~$K>C$7$F$7$^$&!$$+$J$jCWL?E*$J%P%0$r=$@5$7$?!#(B
        <li>nicolatter: over-the-spot$B%9%?%$%k$G@5$7$$0LCV$KJT=8%&%#%s%I%&$rI=<($9$k$h$&$K$7$?!#J8;z$NA^F~$KJX59$+$H;W$C$FF~NO0LCV$N0lCJ2<$KI=<($9$k$h$&$K$7$?$,!$F~NO0LCV$+$iI=<($7$?J}$,$$$$$+$7$i!#(B
        <li>$B%i%$%V%i%j!'%-%c%l%C%H$r%7%9%F%`A4BN$G(B1$B%v=j$7$+I=<($G$-$J$$$h$&$K$7$?!#E@LG$5$;$k$H$-9u$NJ}$rD9$/I=<($9$k$h$&$K$7$?!#(B
    </ul>

<tr><td nowrap rowspan="2">0.83
    <td nowrap>$B8x3+F|!'(B1999.04.30($B6b(B)
    <tr><td><ul>
        <li>nicolatter: root-window$B%9%?%$%k$GJT=8%&%#%s%I%&$r%U%)!<%+%9%&%#%s%I%&$N2<C<$KI=<($9$k$h$&$K$7$?!#(B
        <li>nicolatter: $B%/%i%$%"%s%H$rJ#?t5/F0$7$?$H$-$K!$(BIME$B%b!<%I$,%/%i%$%"%s%H4V$GJ,N%$7$F$J$+$C$?%P%0$r=$@5$7$?!#(B
        <li>nicolatter: SET_IC_FOCUS, UNSET_IC_FOCUS$B$N=hM}$r<BAu$7$?(B
        <li>nicolatter: preedit$B$KBP$7$F%U%)%s%H%;%C%H$,;XDj$5$l$?$H$-!$$=$N%U%)%s%H$r;H$&$h$&$K$7$?!#(B
        <li>nicolatter: $B$+$JF~NO$r<BAu$7$?(B
        <li>nicolatter: GET_IC_VALUES$B$r<BAu$7$?(B
    </ul>

<tr><td nowrap rowspan="2">0.84
    <td nowrap>$B8x3+F|!'(B1999.05.05($B=K(B)
    <tr><td><ul>
        <li>$BF1;~BG80%7%U%HJ}<0$r<BAu$7$?!#(B
        <li>$B%W%l%U%#%C%/%9%7%U%HJ}<0$r<BAu$7$?!#(B
    </ul>

<tr><td nowrap rowspan="2">0.85
    <td nowrap>$B8x3+F|!'(B1999.05.08($BEZ(B)
    <tr><td><ul>
        <li>nicolatter: $BF1;~BG80%m%8%C%/$N2~NI(B
        <li>nicolatter: IME$B$r(BOFF$B$K$G$-$J$+$C$?%P%0$r=$@5$7$?!#(B
        <li>nicolatter: XIM_SYNC_REPLY$B$NAw?.8D?t$r8:$i$7$?!#(B
        <li>nicolatter: XIM_SYNC$B%O%s%I%i$r<BAu$7$?!#(B
        <li>$B%i%$%V%i%j(B: $B%&%#%s%I%&%/%i%9$N%G%9%H%i%/%?$G(Bgtk$B%*%V%8%'%/%H$rGK4~$9$k$h$&$K$7$?!#(B
    </ul>

<tr><td nowrap rowspan="2">0.86
    <td nowrap>$B8x3+F|!'(B1999.05.12($B?e(B)
    <tr><td><ul>
        <li>wnnenvrc$B$,8+$D$+$i$:(BWnn$B$,5/F0$G$-$J$$$3$H$,$"$C$?%P%0$r=$@5$7$?!#(B
        <li>$B@hF,J8@a3NDj$r<BAu$7$?!#(B
        <li>$B$+$JF~NO$GByE@!&H>ByE@$r8e$+$iF~$l$F!$By2;!&H>By2;$rF~NO$G$-$k$h$&$K$7$?!#(B
    </ul>

<tr><td nowrap rowspan="2">0.87
    <td nowrap>$B8x3+F|!'(B1999.05.24($B7n(B)
    <tr><td><ul>
        <li>$B%/%i%$%"%s%H$H$N@\B3$,@Z$l$?$H$-$KJT=8%&%#%s%I%&Ey$r>C$9$h$&$K$7$?!#(B
        <li>$B@_Dj%U%!%$%k$rMxMQ$9$k$h$&$K$7$?!#(B
        <li>XIM_GET_IC_VALUES$B%O%s%I%i$r0lDL$j<BAu$7$?!#(B
        <li>XIM_FORWARD_EVENT$B$N1~Ez$rJQ$($F$_$?!#(B
        <li>$B%9%F!<%?%9%&%#%s%I%&$G1Q?t(B/$B$+$J$rI=<($9$k$h$&$K$7$?!#(B
        <li>notepad: $B8!:w$G$-$k$h$&$K$7$?!#(B
        <li>scribble: $B@~$N0z$-J}$rJQ$($F$_$?!#(B
    </ul>

<tr><td nowrap rowspan="2">0.88
    <td nowrap>$B8x3+F|!'(B1999.06.05($BEZ(B)
    <tr><td><ul>
        <li>$BL5JQ498GDj%b!<%I$r<BAu$7$?!#(B
        <li>$B8uJd%&%#%s%I%&$rJT=89T$N2<$KI=<($9$k$h$&$K$7$?!#(B
        <li>$BF1;~BG80$N?F;X%7%U%H%-!<$r%+%9%?%^%$%:$G$-$k$h$&$K$7$?!#(B
        <li>$B2>L>%-!<$r%+%9%?%^%$%:$G$-$k$h$&$K$7$?!#(B
        <li>$B@_Dj%U%!%$%k$r(B$HOME/.nicolatter/$B0J2<$KCV$/$h$&$K$7$?!#(B
    </ul>

<tr><td nowrap rowspan="2">0.888
    <td nowrap>$B8x3+F|!'(B1999.06.11($B6b(B)
    <tr><td><ul>
        <li>$B$$$m$$$m(B
    </ul>

<tr><td nowrap rowspan="2">0.8882
    <td nowrap>$B8x3+F|!'(B1999.06.17($BLZ(B)
    <tr><td><ul>
        <li>$B$$$m$$$m(B
    </ul>

<tr><td nowrap rowspan="2">0.89
    <td nowrap>$B8x3+F|!'(B1999.06.21($B7n(B)
    <tr><td><ul>
        <li>Canna$B$rJQ49%5!<%P!<$H$7$F;H$($k$h$&$K$7$?!#(B
    </ul>

<tr><td nowrap rowspan="2">0.891
    <td nowrap>$B8x3+F|!'(B1999.06.22($B2P(B)
    <tr><td><ul>
        <li>nicolatter: gtk+$B$,$J$/$F$b%3%s%Q%$%k$G$-$k$h$&$K$7$?!#(B
    </ul>

<tr><td nowrap rowspan="2">0.893
    <td nowrap>$B8x3+F|!'(B1999.06.25($B6b(B)
    <tr><td><ul>
        <li>nicolatter: Canna$B$G8uJd%&%#%s%I%&$r<BAu(B
        <li>nicolatter: Canna$B$G%9%F!<%?%9%&%#%s%I%&$r<BAu(B
        <li>nicolatter: $B@_Dj%U%!%$%k$G(BWnn/Canna$B$rA*Br$G$-$k$h$&$K$7$?!#(B
        <li>nicolatter: Wnn$B$G2>L>%-!<$H$7$F(B[Shift]$B$rJ;MQ$G$-$k$h$&$K$7$?!#(B
        <li>nicolatter: big-endian$B$G$b;H$($k$h$&$K$J$C$?!$$H;W$&!#(B
        <li>nicolatter: Xt$BHG$,F0:n$7$J$/$J$C$?!#8uJd%&%#%s%I%&$NI=<($r$I$&$7$h$&!)(B
        <li>nicoconf: Wnn/Canna$BA*Br$J$I$r<BAu$7$?!#(B
    </ul>

<tr><td nowrap rowspan="2">0.8934
    <td nowrap>$B8x3+F|!'(B1999.06.27($BF|(B)
    <tr><td><ul>
        <li>nicolatter: Xt$BHG$r<BAu$7$?!#(B
        <li>nicoconf: $B@_Dj9`L\$N<BAu$,40N;$7$?!#(B
    </ul>

<tr><td nowrap rowspan="2">0.9.0
    <td nowrap>$B8x3+F|!'(B1999.07.03($BEZ(B)
    <tr><td><ul>
        <li>nicolatter: Canna$B$r;H$C$FD9%m!<%^;zF~NO$G$-$k$h$&$K$J$C$?!#(B
        <li>nicolatter: Wnn$B$G%m!<%^;z$NBgJ8;z!&>.J8;z$r6hJL$9$k$+A*Br$G$-$k$h$&$K$J$C$?!#(B
        <li>nicolatter: Wnn$B$G%m!<%^;zF~NO$N$H$-!$$+$J4A;zJQ49$N7k2L$K$h$C$FMn$A$k$3$H$,$"$C$?ItJ,$r=$@5$7$?!#(B
        <li>nicolatter: Xlib$B$H$NDL?.ItJ,$r=$@5$7$?!#(B
        <li>nicoconf: $B%m!<%^;z$NBgJ8;z!&>.J8;z6hJL$N@_Dj$r<BAu(B
        <li>roma.def: $B!V!#!W!V!$!W$,H4$1$F$$$?$N$GDI2C!#(B
        <li>keyconf: glade$B$r;H$C$F<BAu$7D>$7$?!#(B
        <li>$B%P!<%8%g%sHV9f$r(BUNIX$B%=%U%H$C$]$/$7$?!#(B
    </ul>

<tr><td nowrap rowspan="2">0.9.1
    <td nowrap>$B8x3+F|!'(B1999.07.07($B?e(B)
    <tr><td><ul>
        <li>forward$B$5$l$?%$%Y%s%H$r>l9g$K$h$C$F$O(Bpend$B$9$k$h$&$K$7$F$_$?!#(B
    </ul>

<tr><td nowrap rowspan="2">0.9.2
    <td nowrap>$B8x3+F|!'(B1999.07.11($BF|(B)
    <tr><td><ul>
        <li>$B$$$m$$$m(B
    </ul>

<tr><td nowrap rowspan="2">0.9.3
    <td nowrap>$B8x3+F|!'(B1999.07.17($BEZ(B)
    <tr><td><ul>
        <li>$B%j%=!<%9$N2rJ|$r$7$F$$$J$+$C$?E@$r=$@5$7$?!#(B
        <li>$B$d$C$Q$j%$%Y%s%H$r(Bpend$B$7$J$$$h$&$K$7$?!#(B
        <li>IM$B%5!<%P!<$N%m%1!<%k$H$7$F(Bja, ja_JP$B$rDI2C$7$?!#(B
    </ul>

<tr><td nowrap rowspan="2">0.9.4
    <td nowrap>$B8x3+F|!'(B1999.07.20($B=K(B)
    <tr><td><ul>
        <li>make install$B$G$-$k$h$&$K$7$?!#(B
        <li>palette: $B$"$i$+$?40@.!#(B
        <li>keyconf: $B%U%!%$%k$r3+$$$?$H$-$K%U%!%$%kL>$r%?%$%H%k%P!<$KI=<($9$k$h$&$K$7$?!#(B
        <li>nicoconf: [Ctrl], [Shift], [Alt]$B$r?F;X%-!<$K$G$-$J$$$h$&$K$7$?!#(B
        <li>[Alt]$BJ;MQ%-!<$r%/%i%$%"%s%H$K%9%k!<$9$k$h$&$K$7$?!#(B
        <li>$B1Q;z%b!<%I$N;~$K$b%9%F!<%?%9%&%#%s%I%&$rI=<($9$k$h$&$K$7$?!#$A$g$C$H<YKb$J>l9g$b$"$C$FLB$C$?$,!$F|K\8lF~NO2DG=$+$I$&$+<($9$N$r=E;k$7$?!#(B
        <li>$B%5%]!<%H$9$kF~NO%9%?%$%k$+$i(BXIMPreeditCallbacks, XIMStatusCallbacks$B$r<h$j=|$$$?!#$3$l$i$O>-Mh$NHG$G<BAu$9$k!#(B
        <li>$B%9%F!<%?%9%&%#%s%I%&$N%U%)%s%H$r;XDj$9$k$h$&$K$7$?!#(B
        <li>Netscape Communicator$B$G%9%F!<%?%9%&%#%s%I%&$,%&%#%s%I%&:8>e$KI=<($5$l$kLdBj$KBP=h$7$?!#$3$l$O(BCommunicator$B$,F~NO%9%?%$%k$K(BXIMStatusArea$B$r;XDj$9$k$K$b4X$o$i$:!$(BXNArea$B$N@_Dj$rK:$l$F$$$k$N$,860x!#(B
        <li>key.def: $B!V(Bctrl-h $B:8:o=|!W!$!V(Bctrl-m $B3NDj!W$rDI2C!#(B
    </ul>

<tr><td nowrap rowspan="2">0.9.5
    <td nowrap>$B8x3+F|!'(B1999.07.27($B2P(B)
    <tr><td><ul>
        <li>nicolatter/Makefile$B$G(BWnn$B$N%X%C%@!<%U%!%$%k$N%G%#%l%/%H%j$r;XDj$9$k$h$&$K$7$?!#(B
        <li>$B%9%F!<%?%9%&%#%s%I%&$NI=<($,J8;z2=$1$9$k%P%0$r=$@5$7$?!#(B
        <li>$BF~NO%9%?%$%k$,JT=8!$%9%F!<%?%9$H$b(Broot$B%9%?%$%k$N$H$-!$%9%F!<%?%9%&%#%s%I%&$NI=<(0LCV$rD4@0$9$k$h$&$K$7$?!#(B
        <li>$B%m!<%^;zDj5A$G(B'/'$B$rF~NO$9$k>l9g(B'//'$B$H$7$F$$$?$,!$(B'\'$B$G%(%9%1!<%W$9$k$h$&$K$7$?!#(B
        <li>Emacs 20.4 XIM$B%Q%C%A$rE:IU$9$k$h$&$K$7$?!#(B
        <li>TUT-code$B$N%m!<%^;zDj5A%U%!%$%k$rE:IU$9$k$h$&$K$7$?!#(B
    </ul>

</table>












<hr>
<p class="copyright">Copyright (c) 1998-2005 <a HREF="mailto:vzw00011@nifty.ne.jp">HORIKAWA Hisashi</a>.<br>All rights reserved.
<p class="copyright"><a href="http://www.nslabs.jp/">Netsphere Laboratories</a>
</body>
</html>
