<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
            "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ja">
<head>
  <META HTTP-EQUIV="Content-Language" Content="ja">
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-2022-JP">

  <title>Q's Nicolatter for X</title>
  <LINK rel="stylesheet" href="./default.css" type="text/css">
</head>
<body>



<h1>$B%$%s%9%H!<%k(B</h1>
<hr>

<ol>
  <li><a href="#canna">Canna$B%o%$%IJ8;zBP1~HG$N%;%C%H%"%C%W(B</a>
  <li><a href="#configure">$BJQ49%5!<%P!<!$%D!<%k%-%C%H$NA*Br(B</a>
  <li><a href="#config">Makefile$BEy$N=$@5(B</a>$B!JDL>o$OITMW!K(B
        <ul>
            <li><a href="#config-h">config.h</a>
            <li><a href="#makefile">nicolatter/Makefile</a>
        </ul>
  <li><a href="#compile">$B%3%s%Q%$%k(B</a>
    <li><a href="#install">$B%$%s%9%H!<%k(B</a>
    <li><a href="#setting">$B%-!<$J$I$N@_Dj(B</a>
    <li><a href="#start">$BF0:n%A%'%C%/(B</a>
</ol>




<hr>
<h2><a name="canna">Canna$B%o%$%IJ8;zBP1~HG$N%;%C%H%"%C%W(B</a></h2>

<p>nicolatter$B$O%-!<G[Ns$rJQ99$9$k4X78$G!$%*%j%8%J%k$N(BCanna$B$O;H$($^$;$s!#(BQ's Nicolatter$B$KE:IU$N%o%$%IJ8;zBP1~2=%Q%C%A$rE,MQ$7!$(BCanna$B$r%3%s%Q%$%k!$%$%s%9%H!<%k$7$J$*$9I,MW$,$"$j$^$9!#(B

<p>Canna$B%o%$%IJ8;zBP1~2=%Q%C%A$O8x3+4X?t$rJQ99$7$J$$$N$G!$85!9$"$k(BCanna$B$rCV$-49$($F$bB>$N%=%U%H$K1F6A$O$"$j$^$;$s!#(B

<ol>
  <li>$B%"!<%+%$%V$NF~<j(B
<p>Canna$B$N%=!<%9$O!"(B<a href="http://canna.sourceforge.jp/">Canna</a> $B$+$iF~<j$7$^$9!#(B

  <li>$BE83+!$%Q%C%A$rEv$F$k(B
    <pre>
/opt$ <span style="color:green">tar xjvf Canna37p1.tar.bz2</span>
/opt$ <span style="color:green">cd Canna37p1</span>
/opt/Canna37p1$ <span style="color:green">patch -s -p1 &lt; ~/src/nicolatter-current/patch/Canna37p1-q1.diff</span>
    </pre>

  <li>$B%3%s%Q%$%k(B
<p>$B%3%s%Q%$%k!"%$%s%9%H!<%k<j=g$O(BCanna$B$N(BINSTALL.jp$B%U%!%$%k$K=q$+$l$F$$$^$9!#(B
    <pre>
/opt/Canna37p1$ <span style="color:green">xmkmf &amp;&amp; make canna</span>
    </pre>

  <li>$B%$%s%9%H!<%k(B
    <pre>
/opt/Canna37p1$ <span style="color:green">su</span>
/opt/Canna37p1# <span style="color:green">make install &amp;&amp; make install.man</span>
    </pre>
</ol>

<p>$B>e5-$G!"(B/usr/local/canna$B0J2<$K%$%s%9%H!<%k$5$l$^$9!#(B

<p>$B8E$$(BlibRKC*, libcanna*$B$,(B/usr/lib$B$J$I$K$"$k$H%W%m%0%i%`$N<B9T;~$K8E$$%i%$%V%i%j$,;H$o$l$k$3$H$,$"$k$N$G!"$3$l$i$N%U%!%$%k$r:o=|$7$^$9!#(B

<p>$B$=$N8e!"I,MW$K1~$8$F%7%9%F%`$K?7$7$$%i%$%V%i%j%U%!%$%k$rG'<1$5$;$^$9!#(B/etc/ld.so.conf$B$r=q$-49$($F(Bldconfig$B$r<B9T$9$k$+!"(B/usr/lib$B$K%j%s%/$rD%$j$^$9!#(B









<hr>
<h2><a name="#configure">$BJQ49%5!<%P!<!$%D!<%k%-%C%H$NA*Br(B</a></h2>

<p>nicolatter$B$r%3%s%Q%$%k$9$kA0$K!$(Bconfigure$B%3%^%s%I$GJQ49%5!<%P!<!$%D!<%k%-%C%H$rA*Br$7$^$9!#(B

<p>$BJQ49%5!<%P!<$O(BWnn, Canna$B$N$$$:$l$+0lJ}!$$^$?$ON>J}$rA*Br$G$-$^$9!#%D!<%k%-%C%H$O(BGtk+, Xt$B$+$iA*$S$^$9!#(B

<p>configure$B%3%^%s%I$NNc$r<($7$^$9!#(B

<pre>
/tmp/nicolatter-x.y.z$ <span style="color:green">perl configure</span>
usage:
  configure (gtk|xt) [canna] [wnn]

  gtk, xt$B$O$I$A$i$+0lJ}$rA*Br!$(Bcanna, wnn$B$O>/$J$/$F$b0l$D$rA*Br(B

/tmp/nicolatter-x.y.z$ <span style="color:green">perl configure xt canna wnn</span>
Looking for wnnenvrc...found.
Looking for jllib.h....found.
Looking for libwnn.....found.

nicolatter was configured as follows:

toolkit: Xt
    wnn: use
   wnnenvrc: /usr/local/lib/wnn/ja_JP/wnnenvrc
    jllib.h: /usr/X11R6/include/wnn/jllib.h
     libwnn: /usr/X11R6/lib/libwnn.a
  canna: use
Modified config.h
Modified Makefile.conf
Modified nicolatter/Makefile
</pre>



<hr>
<h2><a name="config">Makefile$BEy$N=$@5(B</a></h2>

<p>$B$3$N@a$O(Bconfigure$B%3%^%s%I$,<:GT$7$?>l9g0J30$OFI$_Ht$P$7$F9=$$$^$;$s!#(B


<h3><a name="config-h">config.h</a></h3>

<p>$B!!(Bnicolatter$B$OJQ49%5!<%P!<$H$7$F(BWnn, Canna$B$,;H$($^$9!#(Bconfig.h$B$G$3$l$K4XO"$7$?@_Dj$r$7$^$9!#(B

<p>$B!!(BWnn$B$r;H$&>l9g$K$O!$$"$i$+$8$a(BWnn$B4D6-%U%!%$%k$H%X%C%@!<%U%!%$%k!$%i%$%V%i%j%U%!%$%k$N>l=j$r3NG'$7$F$*$-$^$9!#(B

<pre class=comline>
$ <span style="color:green">locate wnnenvrc</span>
/usr/doc/wnn/manual.en/2.env/wnn/wnnenvrc
/usr/doc/wnn/manual.en/2.env/wnn/wnnenvrc.gz
/usr/doc/wnn/manual/2.env/wnn/wnnenvrc.gz
/usr/lib/wnn/ja_JP/wnnenvrc                     &lt;--$B$3$l$,4D6-%U%!%$%k(B
/usr/lib/wnn/ja_JP/wnnenvrc.omr
/usr/lib/wnn/ja_JP/wnnenvrc.rem
/usr/lib/wnn/ja_JP/wnnenvrc.rev
/usr/lib/wnn/ja_JP/wnnenvrc_R
/usr/lib/wnn/ja_JP/wnnenvrc_R.omr
/usr/lib/wnn/ja_JP/wnnenvrc_R.rem
/usr/man/ja/man5/wnnenvrc.5

$ <span style="color:green">locate jllib.h</span>
/usr/include/wnn/jllib.h                        &lt;--$B$3$l$,%X%C%@!<%U%!%$%k(B

$ <span style="color:green">locate libwnn.</span>               &lt;-- Wnn6$B$@$H(Blibwnn6$B$N$H$-$,$"$k(B
/usr/lib/libwnn.a                               &lt;--$B$3$l$,%i%$%V%i%j%U%!%$%k(B
/usr/lib/wnn/ja_JP/libwnn.msg
</pre>


<p>$B!!(Bconfig.h$B$r%F%-%9%H%(%G%#%?$G3+$-!$<!$N$h$&$K!$MxMQ$7$J$$JQ49%5!<%P!<$K$D$$$F!$(B#define$B$r(B#undef$B$K=q$-49$($^$9!#(B

<ul>
    <li>Wnn$B$r;H$&>l9g(B
<pre>
    #define USE_WNN
    #undef USE_CANNA

    #define WNN_ENVRCFILE &quot;/usr/lib/wnn/ja_JP/wnnenvrc&quot;   &lt;-- $B@h$[$ID4$Y$?(Bwnnenvrc$B$N40A4$J%U%!%$%kL>(B
</pre>


    <li>Canna$B$r;H$&>l9g(B
<pre>
    #undef USE_WNN
    #define USE_CANNA
</pre>

</ul>

<p>$B!!(BUSE_WNN, USE_CANNA$B$NN>J}$rDj5A!J(B#define$B!K$7$F!$@_Dj%U%!%$%k$K$h$C$F(Bnicolatter$B5/F0;~$KA*Br$9$k$3$H$b$G$-$^$9!#(B




<h3><a name="makefile">nicolatter/Makefile</a></h3>

<p>$B!!JQ49%5!<%P!<!&%i%$%V%i%j$NA*Br!$(BUI$B%i%$%V%i%j!J(Bgtk+, Xt$B!K$NA*Br$r(Bnicolatter/Makefile$B$G$7$^$9!#$d$O$jMxMQ$7$J$$JQ49%5!<%P!<$K4XO"$9$kItJ,$r%3%a%s%H%"%&%H!JH>3Q$N(B#$B$r9TF,$KIU$1$k!K$7$^$9!#(B

<ul>
    <li>Wnn$B$r;H$&>l9g(B

<pre>
    INCDIR = -I/usr/include/wnn             &lt;-- jllib.h$B$N>l=j(B
    LIBDIR = -L/usr/X11R6/lib -L/usr/lib    &lt;-- libwnn.a$B$N>l=j$rDI2C(B

    WNNFILES = WnnConv.o WnnWindow.o
    WNNLIB = -lwnn -lcrypt              &lt;-- libwnn6.a$B$^$?$O(Blibwnn6.so$B$N$H$-$O(B-lwnn6

    # CANNAFILES = CannaConv.o CannaWindow.o
    # CANNALIB = -lcanna16
</pre>

$B!!(BINCDIR$B$K(Bjllib.h$B$N$"$k%G%#%l%/%H%j$r!$(BLIBDIR$B$K(Blibwnn.so$B$^$?$O(Blibwnn.a$B$N$"$k%G%#%l%/%H%j$rDI2C$7$^$9!#(Blibwnn.*$B$,(B/usr/lib$B$J$II8=`$G8!:w$5$l$k%G%#%l%/%H%j$K$"$k>l9g$O(BLIBDIR$B$KDI2C$9$kI,MW$O$"$j$^$;$s$,!$(B/usr/local/Wnn4/lib$B$J$I$N>l9g$OI,?\$G$9!#(B

    <li>Canna$B$r;H$&>l9g(B
<pre>
    # WNNFILES = WnnConv.o WnnWindow.o
    # WNNLIB = -lwnn -lcrypt

    CANNAFILES = CannaConv.o CannaWindow.o
    CANNALIB = -lcanna16
</pre>

</ul>

<p>$B!!(Bgtk+$B$r;H$&>l9g$O(Bnicolatter/Makefile$B$G<!$N$h$&$K%3%a%s%H%"%&%H$7$^$9!#(B

<pre>
    CFLAGS = $(CCFLAGS) -DUSE_GTK -DGTK_DISABLE_COMPAT_H `gtk-config --cflags`
    LDFLAGS = `gtk-config --libs` $(WNNLIB) $(CANNALIB)
    MISCFILES = ../misc-gtk.o ../window.o

    # CFLAGS = $(CCFLAGS)
    # LDFLAGS = $(LIBDIR) -lXaw -lX11 -lstdc++ $(WNNLIB) $(CANNALIB)
    # MISCFILES = ../window-xt.o
</pre>

<p>$B!!(BXt$B$r;H$&>l9g$O<!$N$h$&$K$7$^$9!#(B

<pre>
    # CFLAGS = $(CCFLAGS) -DUSE_GTK -DGTK_DISABLE_COMPAT_H `gtk-config --cflags`
    # LDFLAGS = `gtk-config --libs` $(WNNLIB) $(CANNALIB)
    # MISCFILES = ../misc-gtk.o ../window.o

    CFLAGS = $(CCFLAGS)
    LDFLAGS = $(LIBDIR) -lXaw -lX11 -lstdc++ $(WNNLIB) $(CANNALIB)
    MISCFILES = ../window-xt.o
</pre>






<hr>
<h2><a name="compile">$B%3%s%Q%$%k(B</a></h2>

<p>$B!!@_Dj%W%m%0%i%`$N(Bnicoconf, keyconf$B$O(Bgtk+$B@lMQ$K$J$C$F$$$k$N$G!$(Bgtk+$B$,%$%s%9%H!<%k$5$l$F$$$J$$>l9g$O!$(Bnicolatter$B$@$1%3%s%Q%$%k!$%$%s%9%H!<%k$7$^$9!#(B

<ul>
    <li>gtk+$B$,$J$$>l9g(B
<pre class=comline>
    nicolatter-x.y.z$ <span style="color:green">make nicolatter</span>
</pre>

    <li>gtk+$B$,$"$k>l9g(B
<pre class=comline>
    nicolatter-x.y.z$ <span style="color:green">make</span>
</pre>

</ul>




<p>$B%3%s%Q%$%kESCf$K7Y9p$,=P$^$9$,!$FC$K5$$K$9$kI,MW$O$"$j$^$;$s!#(B









<hr>
<h2><a name="install">$B%$%s%9%H!<%k(B</a></h2>

<p>$B!!<B9T%U%!%$%k$r%$%s%9%H!<%k$7$^$9!#(B

<pre class=comline>
    nicolatter-x.y.z$ <span style="color:green">su</span>
    nicolatter-x.y.z# <span style="color:green">make install</span>
</pre>

<p>$B!!@_Dj%U%!%$%k$r%[!<%`%G%#%l%/%H%j0J2<$K%3%T!<$7$^$9!#(B
<ol>
    <li>~/.nicolatter$B%G%#%l%/%H%j$r:n@.$7$^$9!#(B
<pre class=comline>
    $ <span style="color:green">mkdir ~/.nicolatter</span>
</pre>

    <li>rc$B%G%#%l%/%H%j$K$"$k@_Dj%U%!%$%k!$%-!<G[Ns%U%!%$%k$J$I$r(B~/.nicolatter$B%G%#%l%/%H%j$K%3%T!<$7$^$9!#(B
<pre class=comline>
    nicolatter-x.y.z/rc$ <span style="color:green">cp global nicola.keymap common.keymap symbols.def ~/.nicolatter</span>
</pre>

</ol>











<hr>
<h2><a name="setting">$B%-!<$J$I$N@_Dj(B</a></h2>

<p>$B!!(Bgtk+$B$,$"$C$F!$(Bnicoconf$B$r%3%s%Q%$%k$7$?$H$-$O!$(Bnicoconf$B$G@_Dj$7$^$9!#(B

<p>$B!!(Bnicoconf$B$,$J$$$H$-$O!$%F%-%9%H%(%G%#%?$G(B~/.nicolatter/global$B%U%!%$%k$rJT=8$7$^$9!#(B<a href="setting.htm">$B@_Dj%U%!%$%k$rD>@\JT=8$9$k(B</a>




<h3>~/.canna</h3>

<p>(2005.9.11 $B$3$N@aDI2C!#!K(B

<p>Q's Nicolatter$B$H(BCanna$B$rAH$_9g$o$;$k>l9g!"5!G=%-!<$N@_Dj$O!"(B~/.canna$B$G$7$^$9!#(BCanna$B$N=i4|@_Dj$G$O!"(BCtrl-O $B$,F|K\8l%b!<%I$KF~$k%-!<$K$J$C$F$$$^$9$,!"(BGNOME$B%"%W%j%1!<%7%g%s$J$I$G$O!"%U%!%$%k%@%$%"%m%0$,3+$$$F$7$^$$$^$9!#(B

<p>$B!|MW8!>Z(B

<pre>
    (global-unbind-key-function 'japanese-mode)
    (global-unbind-key-function 'alpha-mode)
    ; use F4 instead:
    (set-key 'alpha-mode "\F4" 'japanese-mode)
    (set-key 'empty-mode "\F4" 'alpha-mode)
</pre>










<hr>
<h2><a name="start">$BF0:n%A%'%C%/(B</a></h2>

$B!!$^$:!$JQ49%5!<%P!<$,(BWnn$B$N$H$-$O(Bjserver, Canna$B$N$H$-$O(Bcannaserver$B$,F0$$$F$$$k$+3NG'$7$^$9!#(B

<pre class=comline>
$ ps ax |grep jserver
14966  p0 S    0:00 grep jserver
  304  ?  SW   0:04 (jserver)
</pre>

<pre class=comline>
$ ps ax |grep canna
  288  ?  S    0:00 /usr/sbin/cannaserver
</pre>

$B!!(Bkterm$B$rFs$D3+$-!$0lJ}$N(Bkterm$B$G(Bnicolatter$B$r<B9T$7$^$9!#(Bnicolatter$B$O%G%P%C%0%a%C%;!<%8$rBgNL$K=PNO$9$k$3$H$,$"$k$N$G!$%&%#%s%I%&$r0l$D$"$F$,$C$F$d$j$^$9!#(B

<pre class=comline>
$ nicolatter
</pre>


$B$b$&0lJ}$N(Bkterm$B$+$i%F%9%HMQ$N%W%m%0%i%`$r<B9T$7$^$9!#(B
<pre class=comline>
nicolatter-x.y.z$ cd ximtest
nicolatter-x.y.z/ximtest$ ./ximtest nicolatter root root
</pre>

$B!!$3$l$G@5>o$KF0:n$7$F$$$?$i!$<!$O(Bxedit$B$0$i$$$G;n$7$^$9!#(B

<pre class=comline>
    $ XMODIFIERS=@im=nicolatter xedit
</pre>

$B!!(Bxedit$B$,5/F0$7!$%&%#%s%I%&:82<$K>.$5$J%9%F!<%?%9%&%#%s%I%&$,I=<($5$l$F$$$l$PF0:n$7$F$$$^$9!#2>L>%-!<$K$7$?%-!<A`:n!$Nc$($P(B[Ctrl] + [Space]$B$GF|K\8l%b!<%I$K0\9T$9$k$N$G!$2?$+BG$C$F$_$^$7$g$&!#(B

<p>$B!!%&%#%s%I%&:82<$K%9%F!<%?%9%&%#%s%I%&$,I=<($5$l$J$$>l9g!$%j%=!<%9$N@_Dj$G(BXIM$B$,L58z$K$J$C$F$$$k$3$H$,9M$($i$l$^$9!#(B~/.Xdefaults$B%U%!%$%k$r3+$-!$<!$N9T$rDI2C$7$^$9!#(B

<pre>
*international: True
*inputMethod: nicolatter
</pre>

$B!!@5>o$KF0:n$9$k$h$&$J$i!$(BX$B$N5/F0%9%/%j%W%H$r=q$-49$($F!$(BX$B3+;O;~$K(Bnicolatter$B$r5/F0$9$k$h$&$K$7$^$9!#(Bstartx$B$G(BX$B$r3+;O$9$k$J$i(B ~/.xinitrc $B!$(Bxdm/kdm/gdm$B$J$I$G(BX$B$r3+;O$9$k$J$i(B ~/.xsession $B$K=q$-$^$9!#(B

<pre>
    if [ -x /usr/local/bin/nicolatter ]; then
        /usr/local/bin/nicolatter -D
        export XMODIFIERS="@im=nicolatter"
    fi
</pre>













<hr>
<p class="copyright">Copyright (c) 1998-2005 <a HREF="mailto:vzw00011@nifty.ne.jp">HORIKAWA Hisashi</a>.<br>All rights reserved.
<p class="copyright"><a href="http://www.nslabs.jp/">Netsphere Laboratories</a>
</body>
</html>
