<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML LANG="ja">
<head>
    <META HTTP-EQUIV="Content-Language" Content="ja">
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-2022-JP">

    <title>Q's Nicolatter for X</title>
    <LINK rel="stylesheet" href="./default.css" type="text/css">
</head>
<BODY BGCOLOR="white" TEXT="BLACK" LINK="blue" vlink="teal" alink="#0066FF">



<h1>palette</h1>
<hr>

<p>$B!!(Bpalette - $B4A;z%3!<%II=(B

<ul>
    <li><a href="#syms">$B5-9fI=(B</a>
    <li><a href="#tbl">$B4A;z%3!<%II=(B</a>
</ul>


<hr>
<h2><a name="syms">$B5-9fI=(B</a></h2>

<ol>
    <li>$B!V<oN`!W$+$iA*$V(B
    <li>$BJ8;z$rA*$V!#(B
    <li>$BA*$s$@J8;z$,%&%#%s%I%&1&>e$N!V%3!<%I!WMs$KF~$k$N$G!$!V"-!W%\%?%s$r2!$9!#(B
    <li>$B!V%3%T!<!W%\%?%s$r2!$9!#(B
    <li>$B%F%-%9%H%(%G%#%?Ey$GE=$jIU$1$k(B
</ol>


<hr>
<h2><a name="tbl">$B4A;z%3!<%II=(B</a></h2>

<ol>
    <li>$BJ8;z=89g$rA*$V(B
    <li>$BJ8;z$rA*$V(B
    <li>$BA*$s$@J8;z$,%&%#%s%I%&1&>e$N!V%3!<%I!WMs$KF~$k$N$G!$!V"-!W%\%?%s$r2!$9!#(B
    <li>$B!V%3%T!<!W%\%?%s$r2!$9!#(B
    <li>$B%F%-%9%H%(%G%#%?Ey$GE=$jIU$1$k(B
</ol>














<hr>
<p class="copyright">Copyright (c) 1998-2005 <a HREF="mailto:vzw00011@nifty.ne.jp">HORIKAWA Hisashi</a>.<br>All rights reserved.
<p class="copyright"><a href="http://www.nslabs.jp/">Netsphere Laboratories</a>
</body>
</html>
