<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML LANG="ja">
<HEAD>
    <META HTTP-EQUIV="Content-Language" Content="ja">
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-2022-JP">

    <TITLE>Q's Nicolatter for X</TITLE>
    <LINK rel="stylesheet" href="./default.css" type="text/css">
</HEAD>
<BODY BGCOLOR="white" TEXT="BLACK" LINK="blue" vlink="teal" alink="#0066FF">


<h1>$B@_Dj%U%!%$%k$rD>@\JT=8$9$k(B</h1>
<hr>

<p>$B!!(BQ's Nicolatter$B$N@_Dj$O(Bnicoconf, $B%-!<G[Ns$NJT=8$O(Bkeyconf$B$G9T$$$^$9$,!$(Bgtk+$B$,$J$$$J$I!$@_Dj%W%m%0%i%`$r;H$o$J$$>l9g$O!$@_Dj%U%!%$%k$r%F%-%9%H%(%G%#%?$GJT=8$7$^$9!#(B


<ul>
    <li><a href="#global">~/.nicolatter/global</a>
    <li><a href="#keymap">$B%-!<G[NsDj5A%U%!%$%k(B</a>
</ul>




<hr>
<h2><a name="global">~/.nicolatter/global</a></h2>


<table border>
<tr><th>$B9`L\(B                <th>$BFbMF(B                <th>$BCM(B
<tr><td>conversion-server   <td>$BJQ49%5!<%P!<(B        <td>wnn, canna
<tr><td>use-keymap          <td>$B?^7A%-!<$rJQ99$9$k$+(B<td>yes, no
<tr><td>keymap-file         <td>$B%-!<G[Ns%U%!%$%k(B    <td>$B%U%!%$%kL>(B
<tr><td>kana-key            <td>$B2>L>%-!<(B            <td>$B%-!<L>(B
<tr><td>shift-method        <td>$B%7%U%HJ}<0(B          <td>normal, prefix, synchronous
<tr><td>left-shift-key      <td>$B:8?F;X%-!<(B          <td>$B%-!<L>(B
<tr><td>right-shift-key     <td>$B1&?F;X%-!<(B          <td>$B%-!<L>(B
<tr><td>use-roma            <td>$B%m!<%^;zJQ49$9$k$+(B  <td>yes, no
<tr><td>roma-file           <td>$B%m!<%^;zDj5A%U%!%$%k(B<td>$B%U%!%$%kL>(B
<tr><td>roma-case-sensitive <td>$B%m!<%^;zJQ49$GBgJ8;z!$>.J8;z$r6hJL$9$k$+(B    <td>yes, no
</table>

<p>$B!!2>L>%-!<$O!V(Bctrl-space$B!W!$!V(Bshift-space$B!W$J$I$H$7$^$9!#(B

<p>$B!!?F;X%-!<$O!$$=$N@-3J>e!$J#9g!J(Bctrl, shift$BJ;MQ!K%-!<$K$7$F$O$$$1$^$;$s!#(B




<hr>
<h2><a name="keymap">$B%-!<G[NsDj5A%U%!%$%k(B</a></h2>


<p>$B!!G[NsDj5A%U%!%$%k$O<!$N9=B$$r;}$A$^$9!#(B

<pre>
    begin-function
        $B@)8f5!G=$r$3$3$GDj5A(B
    end-define

    begin-key
        $B%-!<G[Ns$r$3$3$GDj5A(B
    end-define
</pre>

<p>$B!!$^$:!$@)8f5!G=$rDj5A$7$^$9!#F~NO>u67!$(B
<ul>
    <li>$BL$F~NO(B
    <li>$BF~NOCf(B
    <li>$BJQ49Cf(B
    <li>$B8uJd0lMw(B
</ul>
$B$NJL$K<!$N5!G=JR$+$iA*Br$7$^$9!#(B


<table border>
    <tr><th>$BL>A0(B            <th>$B0UL#(B
    <tr><td>through         <td>$B$=$N$^$^DL$9(B
    <tr><td>na              <td>$BL5;k(B
    <tr><td>kanji           <td>$B1Q;z%b!<%I$X(B
    <tr><td>space           <td>$B6uGrF~NO(B
    <tr><td>convert         <td>$BA4JQ49(B
    <tr><td>next-cand       <td>$B<!8uJd(B
    <tr><td>caret-left      <td>$B%-%c%l%C%H:8(B
    <tr><td>shrink          <td>$BJ8@a=L$a(B
    <tr><td>caret-right     <td>$B%-%c%l%C%H1&(B
    <tr><td>expand          <td>$BJ8@a?-$P$7(B
    <tr><td>clause-left     <td>$BJ8@a:8(B
    <tr><td>clause-right    <td>$BJ8@a1&(B
    <tr><td>all-determine   <td>$BA43NDj(B
    <tr><td>clear           <td>$BA4>C5n(B
    <tr><td>left-erase      <td>$B:8:o=|(B
    <tr><td>right-erase     <td>$B1&:o=|(B
    <tr><td>revert          <td>$BA4La$7(B
    <tr><td>head            <td>$B@hF,$X(B
    <tr><td>tail            <td>$BKvHx$X(B
    <tr><td>clause-determine<td>$BJ8@a3NDj(B
    <tr><td>fixed-alnum     <td>$BL5JQ498GDj$X(B
</table>


<p>$B!!Nc$r<($7$^$9!#(B

<pre>
    # $B5!G=L>(B    $BL$F~NO(B      $BF~NOCf(B      $BJQ49Cf(B          $B8uJd0lMw(B
        $BJ8@a:8(B  through     na          clause-left     clause-left
        $BJQ49(B    space       convert     next-cand       next-cand
        $B1&:o=|(B  through     right-erase na              na
</pre>


<p>$B!!<!$K%-!<G[Ns$rDj5A$7$^$9!#?^7A%-!<$N$H$-$O?^7AJ8;z$r(B&quot;$B$G0O$_$^$9!#@)8f%-!<$N$H$-$O@)8f5!G=$NL>A0$r=q$-$^$9!#Nc$r<($7$^$9!#(B

<pre>
    # $B%-!<(B  $BC1FHBG80(B    $B:8%7%U%H(B    $B1&%7%U%H(B
    ctrl-h  $B:8:o=|(B
    space   $BJQ49(B
    c       "$B$9(B"    "$B$m(B"    "$B$:(B"
    comma   "$B$M(B"    "$B$Z(B"    "$B$`(B"
    d       "$B$F(B"    "$B$J(B"    "$B$G(B"
    e       "$B$?(B"    "$B$j(B"    "$B$@(B"
</pre>








<hr>
<h2><a name="hup">$B@_Dj$rH?1G$5$;$k(B</a></h2>

<p>$B!!(Bnicolatter$B$NF0:nCf$K@_Dj%U%!%$%k$r%F%-%9%H%(%G%#%?$GJQ99$7$F$b!$$=$l$@$1$G$O(Bnicolatter$B$NF0:n$OJQ$o$j$^$;$s!#(Bnicolatter$B$KJQ99$rH?1G$5$;$k$?$a$K$O!$(Bnicolatter$B$N(Bpid$B$rD4$Y$?>e$G!$<!$N$h$&$K$7$^$9!#(B

<pre class="comline">
    $ ps
      PID TTY STAT TIME COMMAND
     4439  p0 S    0:00 -bash
     5845  p0 S    0:05 Xvnc :1 -desktop X -httpd /usr/local/vnc/classes -auth /home
     5847  p0 S    0:00 /usr/local/bin/wmaker
     5850  p0 S    0:00 nicolatter      &lt;-- $B$3$l(B
     5852  p1 S    0:00 bash
     5861  p2 S    0:00 bash
     5863  p2 R    0:00 ps
</pre>

<pre class="comline">
    $ kill -HUP 5850        &lt;-- nicolatter$B$N(Bpid
</pre>










<hr>
<p class="copyright">Copyright (c) 1998-2005 <a HREF="mailto:vzw00011@nifty.ne.jp">HORIKAWA Hisashi</a>.<br>All rights reserved.
<p class="copyright"><a href="http://www.nslabs.jp/">Netsphere Laboratories</a>
</body>
</html>
