<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML LANG="ja">
<head>
    <META HTTP-EQUIV="Content-Language" Content="ja">
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-2022-JP">

    <title>Emacs 20.4 XIM patch</title>
    <LINK rel="stylesheet" href="./default.css" type="text/css">
</head>
<body>



<h1>Emacs 20.4 XIM$BBP1~2=%Q%C%A(B</h1>



<hr>
<h2>$B2?$+(B</h2>

<p>$B!!(BEmacs 20.4$B$G(BQ's Nicolatter$B$r;H$($k$h$&$K$9$k%Q%C%A$G$9!#(B

<p>$B!!:G=i!$;d$b<+J,$G%Q%C%A$r=q$$$F$$$?$N$G$9$,!$0f>e$5$s(B &lt;inoue@ainet.or.jp&gt; $B$,8x3+$5$l$F$$$k%Q%C%A$NJ}$,M%$l$F$$$?$N$G!$$3$l$rE:IU$7$^$9!#(B

<p>$B!!$3$N%Q%C%A$N:G?7HG$O0J2<$N(BWeb$B%5%$%H$+$iF~<j$G$-$^$9!#(B

<blockquote>
    <a href="http://www.ainet.or.jp/~inoue/software/emacs-xim/">http://www.ainet.or.jp/~inoue/software/emacs-xim/</a>
</blockquote>








<hr>
<h2>$B%Q%C%A$N35MW(B</h2>


<p>$B!!(BEmacs 20.4$B$O:G=i$+$i(BXIM$B$N%3!<%I$,4^$^$l$F$$$^$9$,!$(BX$B$N<BAu$K$h$C$F$O(BXlib$B$H(BXt$B$H$G0l$D$N%$%Y%s%H$rFs=E$K2r<a$9$k$3$H$K$h$j!$L58B%k!<%W$K4Y$k$3$H$,$"$j$^$9!#(B

<p>$B!!(BEmacs 20.4$B$N%$%Y%s%H%k!<%W$O<!$N$h$&$K$J$C$F$$$^$9!#(B

<pre>
src/xterm.c: XTread_socket()
    XEvent event;
    {
        XtAppNextEvent(..., &event);
        XFilterEvent(&event, ...);      (1)
        switch (event.type)
        {
        case KeyPress:
            ...                         (2)
        }
        XtDispatchEvent(&event);        (3)
    }
</pre>

<p>$B!!(B(1)$B$G(BXlib$B$,(BIM$B%5!<%P!<$K%-!<%$%Y%s%H$r(Bforward$B$7$^$9!#$G!$(BQ's Nicolatter$B$N$h$&$J(BIM$B%5!<%P!<$,$3$l$rE,Ev$K2r<a$7$F!$(BXlib$B$KJV?.$7$^$9!#(B

<p>$B!!(BEmacs$B$O(B(2)$B$G$=$NJQ497k2L$J$I$r%F%-%9%H$K<h$j9~$_$^$9!#(B

<p>$B!!(B(3)$B$G!$(BX$B$N<BAu$K$h$C$F$O:F$S(BIM$B%5!<%P!<$K(Bforward$B$7$F$7$^$$$^$9!#$=$l$KBP$9$k(BIM$B%5!<%P!<$NJV?.$O?7$7$$%$%Y%s%H$H$7$F(B(1)$B$G:F$S(BIM$B%5!<%P!<$KAw$i$l$^$9!#$=$N$?$a!$L58B%k!<%W$K4Y$k$3$H$K$J$j$^$9!#(B

<p>$B!!$3$N%Q%C%A$O(BIM$B%5!<%P!<$+$i$NJV?.$K$h$k%$%Y%s%H$r(BXt$B$K2s$5$J$$$3$H$G$3$NLdBj$r2sHr$7$^$9!#(B




<hr><!--===================================================================-->
<P align="center">Copyright (c) 1998-1999 <A HREF="mailto:vzw00011@nifty.ne.jp">Hisashi HORIKAWA</a>. All rights reserved.
<P align="center"><a href="http://www2.airnet.ne.jp/pak04955/">Q's crafting attic (http://www2.airnet.ne.jp/pak04955/)</A>
</BODY>
</HTML>
