/*
    style sheet for Q's Web Site
*/

A:link { color: #6600FF }
A:visited { color: teal; }
A:active { color: #0066FF; }

body {
    color: black;
    font-size: 10pt;
}

td, th {
    font-size: 10pt;
}

pre {
    font-family: "FixedSys", monospace;
    background-color: #f0f0f0;
    /* color: #ff0000; */
    white-space: pre;
}

.comline {
	border-style: solid;
    border-color: blue;
	border-width: 1;
    background-color: #fffff0;
}
