<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML LANG="ja">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-2022-JP">
  <META HTTP-EQUIV="Content-Language" Content="ja">
  <meta http-equiv="Content-Script-Type" content="text/javascript">
  <meta http-equiv="Content-Style-Type" content="text/css">

    <title>Q's Nicolatter for X Help</title>
    <LINK rel="stylesheet" href="./default.css" type="text/css">
</head>
<BODY>

<h1>$B=i$a$K(B</h1>
<hr>

        <ul>
            <li><a href="#target">$BGX7J$HA@$$(B</a>
            <li><a href="#feature">$BFCD'(B</a>
            <li><a href="#env">$BF0:n4D6-(B</a>
            <li><a href="#clients">$BBP1~%"%W%j%1!<%7%g%s(B</a>
            <li><a href="#programs">$B%W%m%0%i%`0lMw(B</a>
            <li><a href="#bug">$B4{CN$NLdBj!&%P%0(B</a>
        </ul>

<hr>

<p>$B!X(BQ's Nicolatter for X $B!Y$O!$(BX Window System$B4D6-MQ$NF|K\8lF~NO%5!<%P!<$J$I$r%Q%C%1!<%8$7$?$b$N$G$9!#(B

<blockquote>
Q's Nicolatter for X is a Kana-Kanji keyboard input method server. It provides a common operation method over X applications which process Japanese text. It can be used with Gtk+, Qt, etc. applications. It supports the Romaji-Kana, JIS Kana and NICOLA keyboard arrangements. 
</blockquote>


<h3 class="softsec"><a name="target">$BGX7J$HA@$$(B</a></h3>

<p>(2000.11.05$B99?7(B)

<p>Linux$B%7%9%F%`$O%5!<%P!<J,Ln$rCf?4$K9-$/;H$o$l$k$h$&$K$J$C$F$-$F$$$^$9(B<a href="#note11"><sup>*1</sup></a>$B$,!$%G%9%/%H%C%WJ,Ln$G$O(BMicrosoft Windows$B$J$I$r6/NO$K%j%W%l!<%9$9$kB8:_$H$O$J$C$F$$$J$$$h$&$K8+$($^$9!#%G%9%/%H%C%WJ,Ln$G(BLinux$B%7%9%F%`$r3hMQ$9$k$?$a$K$O!$$h$j%0%i%U%#%+%k$J%a!<%i!<!$E}0lE*$J%X%k%W%7%9%F%`Ey!9!$0lAX$N@0Hw$,I,MW$G$9!#(B

<p>$B$7$+$7!$8=>u$G$O!$%G%9%/%H%C%W4D6-$H$7$F(BLinux$B%7%9%F%`$rMxMQ$9$k$K$O!$$h$j4pK\E*$J$H$3$m$G0cOB46$r3P$($kItJ,$,$"$j$^$9!#$=$N0l$D$,F|K\8lF~NO$G$9!#Nc$($P(BFSF Emacs$B$J$I$OFH<+$K$+$J4A;zJQ49$r<BAu$7$F$$$^$9$,!$$3$N$h$&$J%"%W%j%1!<%7%g%s$,B?$$$H!$A`:n@-$,ITE}0l$H$J$k$-$i$$$,$"$j$^$9!#$^$?F|K\8lF~NO%5!<%P!<$H$7$F$O(Bkinput2$B$J$I$,$9$G$K$"$j$^$9$,!$J8>O$rB?$/=q$/$K$O5sF0$,$d$dIT<+A3$G$"$j!$$^$?G=N($b$"$^$j$h$/$"$j$^$;$s!#(B

<p>Q's Nicolatter$B$O!$2wE,$JF|K\8lF~NO4D6-$r(BX$B4D6-A4BN$GDs6!$9$k$3$H$rL\I8$H$7$F3+H/$5$l$^$7$?!#(B

<p>Q's Nicolatter$B$O(BXIM$B$r%5%]!<%H$7$?%"%W%j%1!<%7%g%s4V$GE}0lE*$JF|K\8lF~NO%$%s%?!<%U%'%$%9$rDs6!$7$^$9!#$?$H$($P!$(BEmacs, Netscape Communicator, GNOME$B%"%W%j%1!<%7%g%s!$(BKDE$B%"%W%j%1!<%7%g%sEy!$:G6a$N$b$N$G$"$l$P%=%U%H%&%'%"$rA*$S$^$;$s!#$^$?!$9-$/3hMQ$5$l$k$?$a$K!$Ds6!$9$kF|K\8lF~NOJ}K!$OFC<l$J$b$N$G$O$J$/!$Fk@w$_$d$9$$!$%m!<%^;z$+$J!$(BJIS$B$+$J!$(BNICOLA$B!J?F;X%7%U%H!K$r4pK\$H$7$F$$$^$9!#(B

<p>$B$7$+$7!$C1$K%m!<%^;z$+$JF~NO$rDs6!$9$k$@$1$G$O$J$/!$IT<+A3$J5sF0$rGS$7$F!$0z$C3]$+$j$N$J$$F|K\8lF~NO$KCmNO$7$F$$$^$9!#%m!<%^;z$+$JF~NO$K$D$$$F$O!$8!F$$7$?7k2L!$<!$N$h$&$JA`:n$H$9$k$3$H$K$7$^$7$?!#$9$J$o$A!$%m!<%^;z$+$i$+$J$XJQ49$7$?8e$O2;@aC10L$G4IM}$7$^$9!#Nc$($P(B[k], [y], [o]$B$HF~NO$7$?8e$G(B[Backspace]$B$rBG$D$H!$!V$-$g!W$r:o=|$7$^$9!#(B

<p>$B%S%8%M%9MQES!$%j%"%k%?%$%`MxMQEy!$9bB.$KF|K\8l$NJ8>O$rBG$D>l9g$K$O!$$+$JF~NO$OI,?\$G$9!#$=$3$G!$(BJIS$B$+$J!$$^$?$O(BNICOLA<a href="#note12"><sup>*2</sup></a>$B$rI8=`$G;H$($k$h$&$K$7!$G[Ns$K$D$$$F$b%+%9%?%^%$%:$G$-$k$h$&$K$7$F$$$^$9!#(B

<p>$B%=%U%H%&%'%"$N@_Dj$K$D$$$F$O!$%3%s%T%e!<%?$K>\$7$/$J$$%f!<%6!<$K$H$C$F@_Dj%U%!%$%k$N=q<0$dL?Na$J$I$rD4$Y$k<j4V$,HQ;($G$"$k$3$H$r9MN8$7!$(BQ's Nicolatter $B$G$O(Bgtk+$B%Y!<%9$N@_Dj%W%m%0%i%`$rF1:-$7$F$$$^$9!#$3$l$K$h$j%-!<G[NsEy$bMF0W$K%+%9%?%^%$%:$G$-$^$9!#@_Dj%U%!%$%k$O%F%-%9%H%U%!%$%k$J$N$G!$%F%-%9%H%(%G%#%?$G$bJT=8$G$-$^$9!#(B

<blockquote>
<a name="note11">*1</a> 2000$BG/$N9qFb%5!<%P!<(BOS$B;T>l$G%7%'%"$,(B7.8%$B$KC#$9$k8+9~$_!#(B<a href="http://www.zdnet.co.jp/news/0010/26/idc.html">http://www.zdnet.co.jp/news/0010/26/idc.html</a>

<p><a name="note12">*2</a> $B;d$O(BNICOLA$B;H$$$J$N$G(BNICOLA$B$G=R$Y$^$9$,!$B>$NF~NOJ}K!$G$bK\<A$OJQ$o$j$^$;$s!#%m!<%^;zF~NO$O$"$^$j$K$bF|K\8lF~NO$K8~$$$F$J$$!$$H$$$&$3$H$G$9!#(B

<p>NICOLA$B$NMxE@$O!$!V%i%/!W$N0l8@$K?T$-$^$9!#%m!<%^;zF~NO$G%A%c%C%H$7$F$$$k?M$r8e$m$GD/$a$k$H!$BgNL$K%-!<$rC!$$$F$$$F$H$F$bBgJQ$=$&$G$9!#(BNICOLA$B$@$H!$F1$8J,NL$rF~NO$9$k$N$K%-!<$rC!$/NL$OH>J,$G:Q$_$^$9!#$b$A$m$sBg$-$JJ8=q$r=q$/$N$K$bM-MQ$G$9$,!$$=$&$G$J$/$F$b!$Hh$l$K$/$/;W9M$rK8$2$^$;$s!#(B

<p>$B%m!<%^;zF~NO$+$i(BNICOLA$B$X$N0\9T$OBgJQ$H$$$&<gD%$,$"$j$^$9$,!$$=$l$O8m$j$G$9!#%m!<%^;zF~NO$H(BNICOLA$B$H$G$O%-%c%Q%7%F%#$H$$$&$+!$8B3&$,:,K\E*$K0[$J$j!$A0=R$N$h$&$KC!$/NL$,H>J,$G$$$$$N$G!$$+$J$j$?$I$?$I$7$$;X1?$S$G$b%m!<%^;zF~NO$h$jB.$/$J$j$^$9!#;d$N>l9g$@$H!$(B10$BG/DxEY%m!<%^;zF~NO$G$7$?$,!$0\9T$K$O$=$l$[$I4|4V$rMW$7$^$;$s$G$7$?!#(B

<p>$B%m!<%^;zF~NO$+$i(BNICOLA$B$X$N0\9T$O!$$*$*$`$M(B2$B=54V!A(B3$B=54V$G85$NB.$5!JJ8=qNL$,%m!<%^;zF~NO$N$H$-$HF1$8$0$i$$!a%-!<$rC!$/NL$OH>J,!K!$(B3$B%v7nDxEY$G:#$^$G$N(B2$BG\$NB.$5!JH>J,$NF~NO;~4V!K$0$i$$!#%m!<%^;zF~NO$H(BNICOLA$B$H$rJ;MQ$;$:$K!$0l5$$K0\9T$9$k$N$,=EMW$G$9!#(B

<p>$B$J$*!$(BNICOLA$B$O(B<a href="http://nicola.sunicom.co.jp/">$BF|K\8lF~NO%3%s%=!<%7%"%`(B</a>$B$,4IM}$7$F$$$^$9!#F|K\8lF~NO%3%s%=!<%7%"%`$K$O!$IY;NDL(B($B3t(B)$B!$F|K\(BIBM($B3t(B)$B!$(B($B3t(B)$B%"%9%-!<!$%=%K!<(B($B3t(B)$BEy$,;22C$7$F$$$^$9!#(B

</blockquote>

<h3 class="softsec"><a name="feature">$BFCD'(B</a></h3>

<ul>
  <li>X$B>e$J$i$I$3$G$bF1$8%f!<%6!<%$%s%?!<%U%'%$%9$GF|K\8lF~NO(B
  <li>$B<+A3$J%m!<%^;z$+$JJQ49(B
  <li>NICOLA$B!J?F;X%7%U%H!K!$(BJIS$B$+$JF~NO$J$I$NI8=`%5%]!<%H(B
  <li>$B%&%#%s%I%&%Y!<%9$N@_Dj%W%m%0%i%`$K$h$kMF0W$J%+%9%?%^%$%:(B
</ul>



<h3><a name="env">$BF0:n4D6-(B</a></h3>

<ul>
  <li>UNIX$B;EMM$K=`5r$7$?%7%9%F%`!JF|K\8l(BEUC$B%m%1!<%kI,?\!K(B
  <li>ISO C++$B=`5r(BC++$B%3%s%Q%$%i(B
  <li>Wnn 4.2$B0J9_!J(BFreeWnn 1.0$B0J9_(B, Wnn6$B4^$`!K$^$?$O(BCanna 3.5b2<a href="#note21"><sup>*1</sup></a> <a href="#note22"><sup>*2</sup></a>
  <li>X Version 11 Release 6.3$B0J9_(B
  <li>gtk+ 1.2.0$B0J9_(B
</ul>

<p>Linux$B%7%9%F%`$J$i(BWnn/Canna$B$r@0$($k0J30FCJLI,MW$J$3$H$O$"$j$^$;$s!#(B<em style="color:red">glibc 2.1$B0J9_(B</em>$B$r:NMQ$7$?(BLinux$B%G%#%9%H%j%S%e!<%7%g%s$J$iLdBj$J$$$O$:$G$9!#(B

<blockquote>
<a name="note21">*1</a> $B!X$($;$+$s$J!Y$r7PM3$7$F(BVJE-Delta, ATOK$B$rMxMQ$G$-$^$9!#$($;$+$s$J$O<!$N(BWeb$B%5%$%H$+$iF~<j$G$-$^$9!((B
<a href="http://esecanna.netfort.gr.jp/">ESE Canna Official Web Site!!</a>

<p><a name="note22">*2</a> Canna/$B$($;$+$s$J$r;H$&>l9g$O!$E:IU$N%o%$%IJ8;zBP1~2=%Q%C%A$r(Blibcanna$B$KEv$F$kI,MW$,$"$j$^$9!#(B
</blockquote>





<h3><a name="clients">$BBP1~%"%W%j%1!<%7%g%s(B</a></h3>


<ul>
  <li>gtk+$B%"%W%j%1!<%7%g%s!J(BGNOME, gEdit$B$J$I!K(B
  <li>Xt$B%"%W%j%1!<%7%g%s!J(Bxedit$B$J$I!K(B
  <li>Qt 1.4x + i18n$B%"%W%j%1!<%7%g%s!JF|K\8lHG(BKDE 1.1.x$B!K(B
  <li>Qt 2.0.x$B%"%W%j%1!<%7%g%s(B
  <li>kterm$B!J(B-xim$B%*%W%7%g%s$G5/F0!K(B
  <li>Netscape Communicator 4.08 (Vine Linux$BHG$,$*4+$a(B)
  <li>Emacs20$B!JE:IU$N(BXIM$B%Q%C%A$rEv$F$kI,MW$,$"$j$^$9!K(B
  <li>XEmacs 21.1
  <li>$B$=$NB>(BXIM$B$KBP1~$7$?%"%W%j%1!<%7%g%s(B
</ul>






<h3><a name="programs">$B%W%m%0%i%`0lMw(B</a></h3>

<p>Q's Nicolatter for X $B$K$O!$<!$N%W%m%0%i%`$,4^$^$l$^$9!#(B

<ul>
    <li>nicolatter  &nbsp; $BF|K\8l(BIM (Input Method) $B%5!<%P!<(B
    <li>$B!J%+%9%?%^%$%:MQ%W%m%0%i%`!K(B
        <ul>
            <li>nicoconf &nbsp; nicolatter$B@_Dj(B
            <li>keyconf &nbsp; $B%-!<G[Ns%U%!%$%kJT=8(B
        </ul>
    <li>$B!J%5%]!<%H%W%m%0%i%`!K(B
        <ul>
            <li>palette &nbsp; $B4A;z%3!<%I0lMw(B
            <li>addword &nbsp; Wnn$BC18lEPO?(B
        </ul>
</ul>




<h3 class="softsec"><a name="bug">$B4{CN$NLdBj!&%P%0(B</a></h3>

<p>$B4{CN$NLdBj!$%P%0$K$D$$$F$O(BWeb$B%5%$%H$G8x3+$7$F$$$^$9!#(B







<hr>
<h2>$B:G?7HG$N=j:_(B</h2>

<p>$B:G?7HG$O0J2<$N(BWeb$B%5%$%H$G8x3+$7$F$$$^$9!#(B

<p><a href="http://www2.airnet.ne.jp/pak04955/">Netsphere Laboratories</a>











<hr>
<p class="copyright">Copyright (c) 1998-2005 <a HREF="mailto:vzw00011@nifty.ne.jp">HORIKAWA Hisashi</a>.<br>All rights reserved.
<p class="copyright"><a href="http://www.nslabs.jp/">Netsphere Laboratories</a>
</body>
</html>
