/*
    style sheet for Q's Web Site
*/

A:link { color: blue; }
A:visited { color: blue; }
A:active { color: #0066FF; }

body, table, textarea {
    color: black;
    font-size: 11pt;
}

.copyright {
  text-align:center;
  font-family:"Times New Roman";
  font-style:italic;
}

pre {
  font-family: monospace;
    background-color: #f8f8f8;
    /* color: #ff0000; */
    white-space: pre;
	border-style: solid;
	border-width: 1;
    border-color: #f0f0f0;
}

.comline {
	border-style: solid;
	border-width: 1;
    border-color: blue;
    background-color: #fffff0;
}
