<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML LANG="ja">
<head>
    <META HTTP-EQUIV="Content-Language" Content="ja">
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-2022-JP">

    <title>Q's Nicolatter for X</title>
    <LINK rel="stylesheet" href="./default.css" type="text/css">
</head>
<BODY>

<h1>$BMzNr!J(Bv1.0$B!A!K(B</h1>
<hr>

<p>$B%P!<%8%g%s(B1.0$B$^$G$O(B &lt;<a href="history-0.x.htm">$BMzNr!J!A(Bv1.0$B!K(B</a>>

<p>

<table border>
<tr><th>$BHG(B<th>$B<g$JFbMF(B

<tr><td nowrap rowspan="2">1.0.0
    <td nowrap>$B8x3+F|!'(B1999.08.04($B?e(B)
    <tr><td><ul>
        <li>SIGHUP$B$G%/%i%$%"%s%H$H$N@\B3$r0];}$7$?$^$^:F5/F0$G$-$k$h$&$K$7$?!#(B
        <li>$B!V%m!<%^;zDj5A$NBgJ8;z!&>.J8;z$r6hJL$9$k!W$N@_Dj%U%!%$%k$G$N%(%s%H%jL>$rJQ99$7$?!#(B
        <li>gcc 2.95$B$G%3%s%Q%$%k$G$-$J$+$C$?E@$r=$@5$7$?!#(B
        <li>$BJT=8%&%#%s%I%&$,0c$&0LCV$K0l=VI=<($5$l$kE@$r=$@5$7$?!#(B
        <li>$B%U%)!<%+%9$r<:$C$?$H$-$K!$8uJd%&%#%s%I%&$bHsI=<($K$9$k$h$&$K$7$?!#(B
        <li>$B4A;z%3!<%II=(B (palette) $B40@.(B
        <li>keyconf: $B%a%K%e!<$rF|K\8l$KLa$7$?!#(B
        <li>keyconf: $B%&%#%s%I%&%a%K%e!<$r3+$$$?$H$-$K%5%V%&%#%s%I%&$,M=4|$;$:I=<($5$l$kLdBj$KBP=h$7$?!#(B
    </ul>

<tr><td nowrap rowspan="2">1.0.0a
    <td nowrap>$B8x3+F|!'(B1999.08.05($BLZ(B)
    <tr><td><ul>
        <li>$BMxMQ5vBz5,Dj$r:9$7BX$($?(B
    </ul>

<tr><td nowrap rowspan="2">1.0.1
    <td nowrap>$B8x3+F|!'(B1999.08.13($B6b(B)
    <tr><td><ul>
        <li>$B%-!<G[NsDj5A%U%!%$%k$G!$JL%U%!%$%k$+$i(Bimport$B$G$-$k$h$&$K$7$?!#(B
        <li>$B%9%F!<%?%9%&%#%s%I%&$,2hLL:8>e$K0l=VI=<($5$l$F$$$?E@$r=$@5$7$?!#(B
        <li>preedit-area$B%9%?%$%k$G!$JT=8%&%#%s%I%&$NI=<(0LCV$rD4@0$7$?!#(B
        <li>status-area$B%9%?%$%k$G!$%9%F!<%?%9%&%#%s%I%&$NI=<(0LCV$rD4@0$7$?!#(B
        <li>Wnn$B$N3X=,>pJs$rJ]B8$9$k$h$&$K$7$?!#(B
        <li>Wnn$BMQ$NC18lEPO?%W%m%0%i%`$rDI2C!#(B
    </ul>

<tr><td nowrap rowspan="2">1.0.2
    <td nowrap>$B8x3+F|!'(B1999.08.20($B6b(B)
    <tr><td><ul>
        <li>nicolatter$B%&%#%s%I%&$rI=<($7$J$$$h$&$K$7$?!#(Btwm$B$G$$$A$$$A%&%#%s%I%&0LCV$r7h$a$kI,MW$,$J$/$J$C$?!#(B
        <li>SIGTERM$B$G@5>o=*N;$9$k$h$&$K$7$?!#(B
        <li>$B4D6-JQ?t(BJSERVER$B$,$J$$$H$-$K(Bnicolatter$B$,Mn$A$k$3$H$,$"$C$?LdBj$r2sHr$7$?!#(Begcs/gcc$B$N(Bstd::string$B2s$j$O$"$^$j=PMh$,$h$/$J$$!#(B
        <li>notepad: glade$B$G=q$-D>$7$?!#(B
        <li>notepad: $B8!:w%@%$%"%m%0$N%G%6%$%s$,C1=c$K$J$C$?!#(B
        <li>notepad: $BCV49%3%^%s%I$r<BAu$7$?!#(B
        <li>calen: glade$B$G=q$-D>$7$?!#(B
        <li>calen: $BJT=8%&%#%s%I%&$rJL$K$7$F!$J#?t$NF|IU$rF1;~$KJT=8$G$-$k$h$&$K$7$?!#(B
        <li>Emacs 20.4 XIM$B%Q%C%A$r:9$7BX$($?!#(B
    </ul>

<tr><td nowrap rowspan="2">1.0.3
    <td nowrap>$B8x3+F|!'(B1999.09.03($B6b(B)
    <tr><td><ul>
        <li>nicolatter: (Wnn/gtk+) $B8uJd%&%#%s%I%&$G8=:_$N8uJd$,1#$l$k$3$H$,$"$C$?%P%0$r=$@5!#(B
        <li>nicolatter: XIMPreeditNothing$B%9%?%$%k$N$H$-!$>o$KF~NO9T$r2hLLFb$KI=<($9$k$h$&$K$7$?!#(B
        <li>nicolatter: $B%5%]!<%H%m%1!<%k$K(B"C"$B$rDI2C$7$?!#5$5Y$a$@$,!#(B
        <li>calen: $B%+%l%s%@!<$rFs%v7nJ,I=<($9$k$h$&$K$7$?!#(B
        <li>calen: $BJT=8%&%#%s%I%&$K!VJ]B8!W$H!V<h>C!W%\%?%s$rIU$1$?!#(B
        <li>calen: $B0lMw%&%#%s%I%&$r:n@.$7$?!#(B
        <li>notepad: $B4JC1$J%"%&%H%i%$%s5!G=$rIU$1$?!#9TF,$,(B'$B!|(B'$B$N9T$r8+=P$7%Z%$%s$KI=<($9$k!#(B
        <li>.emacs$B$H(BEmacs$B%U%!%$%k$rE:IU$7$?!#(B
    </ul>

<tr><td nowrap rowspan="2">1.1.0
    <td nowrap>$B8x3+F|!'(B1999.09.22($B?e(B)
    <tr><td><ul>
        <li>notepad, calen$B$rJ,N%$7$?!#(B
        <li>nicolatter: XIMStatusNothing$B%9%?%$%k$N$H$-!$%U%)!<%+%9%&%#%s%I%&$G$O$J$/!$%/%i%$%"%s%H%&%#%s%I%&2<CJ$K%9%F!<%?%9%&%#%s%I%&$rI=<($9$k$h$&$K$J$C$?!#(B
        <li>nicolatter: $BF1;~BG80H=Dj;~4V$rJQ99$7$?!#(B
        <li>nicolatter: (Wnn) $B@)8f%-!<$rBG$C$?$H$-$KMn$A$k$3$H$,$"$C$?%P%0$r=$@5$7$?!#(B
        <li>keyconf: $B%]%C%W%"%C%W%a%K%e!<$+$i%-!<!$@)8f5!G=$r:o=|$G$-$k$h$&$K$J$C$?!#(B
        <li>keyconf: $B5/F0;~$N0z?t$K(B.keymap$B%U%!%$%k$rEO$;$k$h$&$K$J$C$?!#(B
    </ul>

<tr><td nowrap rowspan="2">1.1.2
    <td nowrap>$B8x3+F|!'(B1999.10.01($B6b(B)
    <tr><td><ul>
        <li>nicolatter: XIM VJE-Delta$B3HD%$r<BAu$7$?!#%"%W%j%1!<%7%g%s$+$iF|K\8l%b!<%I$r;XDj$G$-$k$h$&$K$J$C$?!#(B
        <li>nicolatter: $B$9$G$KJL$N(BIM$B%5!<%P!<$,5/F0$7$F$$$?>l9g$K$=$N(BIM$B%5!<%P!<$r;H$($J$/$7$F$7$^$C$F$$$?E@$r=$@5$7$?!#(B
        <li>nicolatter: $B%9%F!<%?%9%&%#%s%I%&$,2hLL30$K=P$=$&$J$H$-$O2hLL1&2<$KI=<($9$k$h$&$K$7$?!#(Bword$BBP:v!#(B
        <li>keyconf: $B@)8f5!G=$,8+$D$+$i$J$$>l9g$KMn$A$k$3$H$,$"$C$?%P%0$r=$@5$7$?!#(B
        <li>$BE:IU%-!<G[Ns$G!$>.=q$-$N!V$o!W$rDI2C$7$?!#(B
        <li>ximtest: __func__$B$,<BAu$5$l$F$$$J$$(BC$B%3%s%Q%$%i$,$"$C$?$N$G!$;H$o$J$$$h$&$K$7$?!#(B
    </ul>

<tr><td nowrap rowspan="2">1.1.3
    <td nowrap>$B8x3+F|!'(B1999.10.23($BEZ(B)
    <tr><td><ul>
        <li>nicolatter: (Wnn) $B4D6-JQ?t(BJSERVER$B$,Dj5A$5$l$F$J$$>l9g!$(BWnn$BJQ49%5!<%P!<$,(Blocalhost$B>e$K$"$k$H2>Dj$9$k$h$&$K$7$?!#(B
        <li>nicolatter: (Wnn) $B@)8f5!G=!V%9%k!<!W!$!V4A;z%b!<%I!W$rJQ49Cf$K$b;H$($k$h$&$K$7$?!#(B
        <li>nicolatter: (Wnn) $B!VA08uJd!W$r<BAu$7$?!#(B
        <li>keyconf: $B@)8f5!G=$rJT=8$9$k$HMn$A$k%P%0$r=$@5$7$?!#(B
        <li>(Wnn) $BE:IU$N%-!<G[NsI=$G!$%b!<%I@Z$jBX$($r(B[Ctrl] + [\]$B$K$7$?!#(B[Ctrl] + [Space]$B$O(BEmacs$B$GI,MW!#(B
        <li>JIS X 6002, $B$$$o$f$k(BJIS$B$+$JG[Ns$NG[NsI=$rE:IU$7$?!#(B
    </ul>

<tr><td nowrap rowspan="2">1.1.4
    <td nowrap>$B8x3+F|!'(B1999.10.25($B7n(B)
    <tr><td><ul>
        <li>nicolatter: Qt-1.44 + i18n$B%Q%C%A$G!$JT=89T$NI=<(0LCV$,$*$+$7$+$C$?LdBj$KBP=h$7$?!#(BQt$B$,%U%)!<%+%9%&%#%s%I%&$r;XDj$7K:$l$F$$$k!#(B
        <li>nicolatter: Qt-2.0.1$B$G!$JT=89T!$%9%F!<%?%99T$,I=<($5$l$J$+$C$?LdBj$KBP=h$7$?!#(BQt$B$,(BIC$B%U%)!<%+%9$r;XDj$7K:$l$F$$$k!#(B
        <li>nicolatter: (Wnn) $B%7%U%HF0:n$,!VF1;~2!2<!W$N$H$-!$(B[Shift]$B%-!<!\%+!<%=%k%-!<$GHO0O;XDj$G$-$J$+$C$?E@$r=$@5$7$?!#(B
        <li>nicolatter: $B%W%l%U%#%C%/%9%7%U%HF0:n$N$H$-!$%7%U%H>uBV$r%9%F!<%?%99T$KI=<($9$k$h$&$K$7$?!#(B
    </ul>

<tr><td nowrap rowspan="2">1.1.5
    <td nowrap>$B8x3+F|!'(B1999.11.13($BEZ(B)
    <tr><td><ul>
        <li>$B8uJd%&%#%s%I%&!$%9%F!<%?%99T$N%U%)%s%H$r@_Dj%U%!%$%k$G;XDj$G$-$k$h$&$K$7$?!#(B
        <li>$BIT@5$J%&%#%s%I%&(BID$B$r;XDj$5$l$k$HMn$A$k%P%0$r=$@5$7$?!#(B
        <li>(gtk+) .gtkrc$B$KF|K\8lMQ@_Dj$r=q$$$F$J$$$H8uJd%&%#%s%I%&$J$I$,J8;z2=$1$9$kLdBj$KBP=h$7$?!#(B
        <li>(Wnn/gtk+) $B8uJd%&%#%s%I%&$NI}$r8uJd$K9g$o$;$k$h$&$K$7$?!#(B
        <li>nicoconf: $B=*N;;~$K(Bnicolatter$B$,F0$$$F$$$?$i!$<+F0$G@_Dj$r99?7$9$k$h$&$K$7$?!#(B
    </ul>

<tr><td nowrap rowspan="2">1.1.6
    <td nowrap>$B8x3+F|!'(B1999.12.30($BLZ(B)
    <tr><td><ul>
        <li>preedit$B9T$N%U%)%s%H$r%-%c%C%7%e$9$k$h$&$K$7$?!#(B
        <li>$B%/%i%$%"%s%H$,IT@5$JF~NO%9%?%$%k$r;XDj$7$F$/$k$H(Bnicolatter$B$,Mn$A$k%P%0$r=$@5$7$?!#(B
    </ul>

<tr><td nowrap rowspan="2">1.1.7
    <td nowrap>$B8x3+F|!'(B2000.01.08($BEZ(B)
    <tr><td><ul>
        <li>$B%a%b%j!<%j!<%/$,$"$C$?$N$G!$=$@5$7$?!#(B
        <li>$B%(%s%G%#%"%s$N0c$$$KG[N8$7$?!#$?$@$7%$%s%F%k5!$G$7$+%F%9%H$7$F$J$$$N$GF0:n$9$k$+ITL@!#(B
        <li>$BL>>N$r(BQ's Nicolatter for Linux$B$+$i(BQ's Nicolatter for X$B$KJQ99$7$?!#(B
    </ul>

<tr><td nowrap rowspan="2">1.1.8
  <td nowrap>$B8x3+F|!'(B2000.02.06($BF|(B)
  <tr><td><ul>
    <li>Kondara MNU/Linux$B$G%3%s%Q%$%k$G$-$J$$ItJ,$,$"$C$?E@$r=$@5$7$?!#(B
    <li>fontsel$B%W%m%0%i%`$rDI2C$7$?!#(B
    <li>$BF~NO9T$,(Broot-window$B%9%?%$%k$N$H$-%9%F!<%?%99T$HI=<($,=E$J$C$F$7$^$C$F$$$?$N$G!$%9%F!<%?%99T$NI=<(0LCV$r$:$i$9$h$&$K$7$?!#(B
    <li>Canna$B$G(BJIS$B$+$JG[Ns$r;H$&>l9g$NBy2;$N=hM}$,ITL#$+$C$?$N$G!$(BCanna$B%Q%C%A$r=$@5$7$?!#(B
  </ul>

<tr><td nowrap rowspan="2">1.1.9
  <td nowrap>$B8x3+F|!'(B2000.03.11($BEZ(B)
  <tr><td><ul>
    <li>$B@_Dj%U%!%$%k$NB0@-L>$GBgJ8;z>.J8;z$r6hJL$7$J$$$h$&$K$7$?!#(B
    <li>nicoconf$B$N%&%#%s%I%&%G%6%$%s$rJQ99$7$?!#(B
    <li>$B%i%$%;%s%9$N:FG[I[$K4X$9$k5,Dj$rJQ99$7$?!#!JIp$5$s(B&lt;take@debian.or.jp&gt;$B$K$h$k!K(B
    <li>dvorak-nicola$B%-!<%^%C%W%U%!%$%k$rDI2C$7$?!#!J5W=;$5$s(B&lt;nel@soraneko.com&gt;$B$K$h$k!K(B
  </ul>

<tr><td nowrap rowspan="2">1.1.10
  <td nowrap>$B8x3+F|!'(B2000.04.16($BF|(B)
  <tr><td><ul>
    <li>$B%m%1!<%k$r4D6-JQ?t$+$iF@$k$N$G$O$J$/!$%3%s%Q%$%k;~$KKd$a9~$`$h$&$K$7$?!#(B
    <li>$B%[!<%`%G%#%l%/%H%j$r4D6-JQ?t(BHOME$B$+$iF@$k$N$r;_$a$?!#(B
  </ul>

<tr><td nowrap rowspan="2">1.7.0pre1
  <td nowrap>$B8x3+F|!'(B2000.08.04($B6b(B)
  <tr><td><ul>
    <li>Xt$BHG!'(BX protocol$B$K$h$k(BXIM$B%H%i%s%9%]!<%HAX$r%5%]!<%H$7$?!#$3$l$G:#$^$GAj@-$N0-$+$C$?(BXEmacs$B$G$b;H$($k$h$&$K$J$C$?!#(B
    <li>Wnn$BHG!'(BWnn$BJQ49%5!<%P!<!J(Bjserver$B!K$,8+$D$+$i$J$$>l9g$KJQ49$J$I$GMn$A$k%P%0$r=$@5$7$?!#(B
    <li>lib: $B%a%b%j!<%j!<%/%A%'%C%/%+!<$,$I$&$b>e<j$/$J$+$C$?$N$G!$;H$o$J$$$h$&$K$7$?!#(B
  </ul>

<tr><td nowrap rowspan="2">1.7.0pre2
  <td nowrap>$B8x3+F|!'(B2000.08.20($BF|(B)
  <tr><td><ul>
    <li>palette: Unicode$BI=$rIU$1$?!JL$40@.!K(B
    <li>Xt, X$B%W%m%H%3%kHG!'%/%i%$%"%s%H%&%#%s%I%&$,JD$8$?$H$-$KBP1~$9$k=hM}$rDI2C$7$?!#(B
  </ul>

<tr><td nowrap rowspan="2">1.7.0pre3
  <td nowrap>$B8x3+F|!'(B2000.10.09($B=K(B)
  <tr><td><ul>
    <li>Wnn, Canna$B$NN>J}$,M-8z$N>l9g0J30$KMn$A$k%P%0$r=$@5$7$?!#!J$R$k$^$5$s(B&lt;YRB03640@nifty.ne.jp&gt;$B!K(B
    <li>gtk+$BHG!'(BX$B%W%m%H%3%k$K$h$k(BXIM$B%H%i%s%9%]!<%HAX$r%5%]!<%H$7$?!#$?$@$7%/%i%$%"%s%H$N=*N;$N8!=P$,L$40@.!#(B
    <li>TCP/IP XIM$B%H%i%s%9%]!<%HAX$r2~NI$7!$%P%C%U%!$r8GDjD9$+$i2DJQD9$XJQ99$7$?!#(B
  </ul>

<tr><td nowrap rowspan="2">1.7.0pre4
  <td nowrap>$B8x3+F|!'(B2000.10.15($BF|(B)
  <tr><td><ul>
    <li>XIM X$B%W%m%H%3%kHG$N8zN(8~>e!#(B
    <li>-D$B%*%W%7%g%s$G%G!<%b%s2=!#(B
    <li>palette: Unicode$BI=$,40@.!#$?$@$7(BEUC-JP$B$KJQ49$G$-$kJ8;z$7$+F~NO$G$-$J$$!#(B
  </ul>

<tr><td nowrap rowspan="2">1.7.0pre5
  <td nowrap>$B8x3+F|!'(B2000.10.21($BEZ(B)
  <tr><td><ul>
    <li>configure$B%3%^%s%I$rDI2C!J(BFunada$B$5$s(B&lt;fun@shikoku.ne.jp&gt;$B$N%Q%C%A$rMxMQ!#B?<U!K(B
    <li>README$B%U%!%$%k$r99?7!#(Bnicola-ml$B$GE::o$7$F$b$i$&(B
    <li>gtk+$BHG!'%/%i%$%"%s%H$N=*N;$r8!CN$G$-$k$h$&$K$J$C$?!#(B
    <li>palette: Unicode$B%U%)%s%H$,$J$$>l9g$KMn$A$k%P%0$r=$@5!#(B
    <li>(en) This release adds a configure command and bugfixes for a memory leak and abnormal termination.
  </ul>

<tr><td nowrap rowspan="2">1.7.0
  <td nowrap>$B8x3+F|!'(B2000.10.26($BLZ(B) (private release)
  <tr><td><ul>
    <li>palette: $BMn$A$k%P%0$r=$@5(B
    <li>$B%^%K%e%"%k$r@0$($k(B
  </ul>

<tr><td nowrap rowspan="2">1.7.1
  <td nowrap>$B8x3+F|!'(B2000.11.05($BF|(B)
  <tr><td><ul>
    <li>[$BJQ49(B]$B%-!<$J$I$G(BCanna$B$N@_Dj$,M-8z$K$J$i$J$+$C$?LdBj$KBP=h!#(B
    <li>$B%^%K%e%"%k$N@0Hw!#35MW!$(Bnicoconf, keyconf$B$N@bL@$r99?7!#(B
  </ul>

<tr><td nowrap rowspan="2">1.7.2pre1
  <td nowrap>$B8x3+F|!'(B2000.12.10($BF|(B)
  <tr><td><ul>
    <li>Unicode Input Server$B%W%m%H%3%k$KBP1~!#$?$@$7$^$@IT40A4!#(B
    <li>$B%i%$%;%s%9$r2~@5$7!$%Q%C%A$N$_G[I[2DG=$G$"$k$3$H$rL@3N2=$7$?!#(B
  </ul>
</table>

<table style="margin-top:1em">
  <tr><th align=right valign=top nowrap>$BHG!'(B<td>1.7.2pre2
  <tr><th align=right valign=top nowrap>$B8x3+F|!'(B<td>2001.01.01($B=K(B)
  <tr><th align=right valign=top nowrap>$B%j%j!<%9%N!<%H!'(B<td><a href="http://www2.airnet.ne.jp/pak04955/diary.rb?m=200101#01rn">2001.01.01/rn</a>
  <tr><th align=right valign=top nowrap>$BJQ99E@!'(B
    <td><ul>
      <li>FreeBSD$B$G%3%s%Q%$%k$G$-$J$$LdBj$KBP=h$7$?!#0f>e$5$s$K46<U!#(B
      <li>(Xt$BHG(B) Unicode Input Server$B%W%m%H%3%kBP1~$,40N;$7$?!#(B
      <li>Internet-Intranet Input Method Protocol (IIIMP) $B$N<BAu$KCe<j!#$G$bESCf!#(B
      <li>$B%i%$%;%s%9$N1QLu$KCe<j!#$G$bESCf!#(B
      <li>$B%m!<%^;zF~NO$N$H$-!$(Bkill -HUP$B$GF~NO$G$-$J$/$J$k%P%0$r=$@5!#@V:d$5$s$N%Q%C%A$r<h$j9~$s$@!#46<U!#(B
      <li>(Wnn) $BJ8@a0\F0$GJQ49Cf$NJ8;z$,EI$j$D$V$5$l$k%P%0$r=$@5!#(B
      <li>(Wnn) $BA08uJd$G8uJd%&%#%s%I%&$K$J$$8uJd$rA*Br$9$k$3$H$,$"$k%P%0$r=$@5!#(B
    </ul></td>
</table>

<table style="margin-top:1em">
  <tr><th align=right valign=top nowrap>$BHG!'(B<td>1.7.2pre3
  <tr><th align=right valign=top nowrap>$B8x3+F|!'(B<td>2001.02.17 ($BEZ(B)
  <tr><th align=right valign=top nowrap>$B%j%j!<%9%N!<%H!'(B<td><a href="http://www2.airnet.ne.jp/pak04955/diary.rb?m=200102#17rn">2001.02.17/rn</a>
  <tr><th align=right valign=top nowrap>$BJQ99E@!'(B
    <td><ul>
      <li>configure$B$N(BWnn$B8!:w%Q%9$rDI2C!#(B
      <li>gcc 2.97$B$G%3%s%Q%$%k%(%i!<$K$J$kE@$r=$@5!#(B
      <li>glibc 2.2.1$B$G%3%s%Q%$%k%(%i!<$K$J$kE@$r=$@5!#(B
      <li>IIIMP$B$r<BAu$9$k$?$a$K!$(BXIM$B%W%m%H%3%kItJ,$r=$@5!#(B
      <li>IIIMP$B$r<BAu$9$k$?$a$K!$(BTCP/IP$B%H%i%s%9%]!<%HItJ,$r=$@5!#(B
    </ul></td>
</table>

<table style="margin-top:1em">
  <tr><th align=right valign=top nowrap>$BHG!'(B<td>1.7.2pre4
  <tr><th align=right valign=top nowrap>$B8x3+F|!'(B<td>2001.05.26 ($BEZ(B)
  <tr><th align=right valign=top nowrap>$BJQ99E@!'(B
    <td><ul>
      <li>gcc 3.0$B$G%3%s%Q%$%k%(%i!<$K$J$k2U=j$r=$@5!#(B
      <li>(Canna) $BA`:n$K$h$C$F$^$l$KFbIt%(%i!<$K$J$k$3$H$,$"$C$?E@$r=$@5!#(B
    </ul></td>
</table>


<dl class="softinfo">
  <dt>$BHG(B / Version:<dd>1.7.3
  <dt>$B8x3+F|(B / Release Date:<dd>2002.06.08 ($BEZ(B)
  <dt>$B<g$JJQ99E@(B / Changes:<dd><ul>
      <li>gcc 3.1$B$G%3%s%Q%$%k%(%i!<$K$J$k2U=j$r=$@5!#(B<br>A compilation error with gcc-3.1 was fixed. 
      <li>$B5/F0;~$K%m%1!<%k$r@_Dj$9$k$h$&$K$7$?!#%3%s%Q%$%kA0$K!$4D6-$K9g$o$;$F(Bconfig.h$B$r=$@5$N$3$H!#(B<br>The Japanese locale is now set on startup.
      <li>$B$=$NB>FbIt9=B$$N@0M}(B<br>The code was cleaned up.
    </ul>
</dl>


<dl class="softinfo">
  <dt>$BHG(B / Version:<dd>1.7.4
  <dt>$B8x3+F|(B / Release Date:<dd>2002.06.30 ($BF|(B)
  <dt>$B<g$JJQ99E@(B / Changes:<dd>
    <ul>
      <li>$B%3%s%Q%$%k%(%i!<$K$J$kE@$r$5$i$K=$@5!#(B
    </ul>
</dl>


<dl class="softinfo">
  <dt>$BHG(B / Version:<dd>1.7.5
  <dt>$B8x3+F|(B / Release Date:<dd>2002.09.23 (Mon)
  <dt>$B<g$JJQ99E@(B / Changes:<dd>
    <ul>
      <li>~/.nicolatter/$B0J2<$N@_Dj%U%!%$%k$,$J$$$H$-!$(B/etc/X11/nicolatter/$B0J2<$N%U%!%$%k$rFI$_9~$`$h$&$K$7$?!#(BThanks to "$B$@$9(B."
      <li>nicoconf, keyconf$B$G!$%U%!%$%k$r3+$/$H$-$K=i4|CM$r@_Dj$9$k$h$&$K$7$?!#(BThanks to "$B$@$9(B."
      <li>pobox$B$N=$@5(B
    </ul>
</dl>


<dl class="softinfo">
  <dt>$BHG(B / Version:<dd>1.7.6
  <dt>$B8x3+F|(B / Release Date:<dd>2003.01.02 (Thu)
  <dt>$B<g$JJQ99E@(B / Changes:<dd>
    <ul>
      <li>$B0\?"@-$N8~>e!#(Bconfigure$B$N6/2=$J$I!#(B
      <li>$BF1;~BG80$NF1;~H=Dj;~4V$r(B200ms$B$+$i(B150ms$B$KJQ99!#(B
      <li>Canna 3.6p1$BMQ$N%Q%C%A$rDI2C!#(B
      <li>pobox$B$N<BAu$r?J$a$?!#(B
    </ul>
</dl>


<dl class="softinfo">
  <dt>$BHG(B / Version:<dd>1.7.7
  <dt>$B8x3+F|(B / Release Date:<dd>2003.05.17 (Sat)
  <dt>$B<g$JJQ99E@(B / Changes:<dd>
    <ul>
      <li>configure$B%9%/%j%W%H$N6/2=!#(BCanna$B%i%$%V%i%j$N8!:wHO0O$N3HBg!"(Blibiconv$B$N8!::$rDI2C!#(B
      <li>gcc 3.3$B$G%3%s%Q%$%k%(%i!<$H$J$kE@$r=$@5!#(B
      <li>Canna 3.6p3$BMQ$N%Q%C%A$rDI2C!#(B
    </ul>
</dl>


<dl class="softinfo">
  <dt>$BHG(B / Version:<dd>1.7.8
  <dt>$B8x3+F|(B / Release Date:<dd>2004.01.03 (Sat)
  <dt>$B<g$JJQ99E@(B / Changes:<dd>
    <ul>
      <li>Canna 3.7$BBP1~!#(B
    </ul>
</dl>




<dl class="softinfo">
  <dt>$BHG(B / Version:<dd>1.7.9
  <dt>$B8x3+F|(B / Release Date:<dd>(not released yet)
  <dt>$B<g$JJQ99E@(B / Changes:<dd>
    <ul>
      <li>gcc 3.4.0$B$G%3%s%Q%$%k$G$-$J$$E@$r=$@5!#(B
      <li>(Wnn) $B4D6-JQ?t(BJSERVER$B$,;XDj$5$l$F$$$J$$$+CM$,(B""$B$G$"$k$H$-$O!"(BWnn$B%5!<%P$K(BUNIX$B%I%a%$%s%=%1%C%H$G@\B3$9$k$h$&$KJQ99!#(BFedora Core$BIUB0$N(BWnn$B$G@\B3$G$-$J$+$C$?!#!J:#0f$5$s46<U!K(B
    </ul>
</dl>














<hr>
<p class="copyright">Copyright (c) 1998-2005 <a HREF="mailto:vzw00011@nifty.ne.jp">HORIKAWA Hisashi</a>.<br>All rights reserved.
<p class="copyright"><a href="http://www.nslabs.jp/">Netsphere Laboratories</a>
</body>
</html>
