<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN"
            "http://www.w3.org/TR/html4/frameset.dtd">
<html lang="ja">
<HEAD>
    <META HTTP-EQUIV="Content-Language" Content="ja">
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-2022-JP">

    <TITLE>Q's Nicolatter for X</TITLE>
</HEAD>
<FRAMESET COLS="30%,*">
    <FRAMESET ROWS="70%,*">
        <FRAME SRC="toc.htm">
        <FRAME SRC="toc-c.htm">
    </FRAMESET>
    <FRAME SRC="cover.htm" NAME="main">
    <NOFRAMES>
        <P>$B!!$3$N%X%k%W!J(BHTML$B%U%!%$%k!K$O%U%l!<%`BP1~%V%i%&%6$G$4Mw$/$@$5$$!#(B
    </NOFRAMES>
</FRAMESET>
</HTML>
