<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML LANG="ja">
<HEAD>
    <META HTTP-EQUIV="Content-Language" Content="ja">
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-2022-JP">

    <title>Q's Nicolatter for X</title>
    <LINK rel="stylesheet" href="./default.css" type="text/css" charset="EUC-JP">
<style type="text/css">
    .keylayout {
        border-style: solid;
        border-color: green;
        border-width: 2;
        background-color: #ffffff;
    }
</style>
</head>
<body bgcolor="white">


<h1>$B%-!<G[Ns(B</h1>
<hr>

<p>$B!!(BQ's Nicolatter$B$O!$$+$JG[Ns$H$7$F(BNICOLA$B!$D9%m!<%^;zG[Ns$H$7$F(BM$B<0$NDj5A%U%!%$%k$rE:IU$7$F$$$^$9!#IaDL$O(BNICOLA$B$,$*4+$a$G$9!#(B



<ul>
    <li>$B$+$JF~NO(B
        <ul>
            <li><a href="#nicola">NICOLA</a>
            <li><a href="#tron">TRON</a>
        </ul>
    <li>$BD9%m!<%^;zF~NO(B
        <ul>
            <li><a href="#m">M$B<0(B</a>
            <li><a href="#sky">SKY</a>
        </ul>
</ul>

<!--
    $B$+$JF~NOG[Ns$NMW5a;v9`(B
        $BI,?\!'(B
            $B$"$$$&$($*(B $B$+$-$/$1$3(B $B$5$7$9$;$=(B $B$?$A$D$F$H(B $B$J$K$L$M$N(B
            $B$O$R$U$X$[(B $B$^$_$`$a$b(B $B$d$f$h(B $B$i$j$k$l$m(B $B$o$r(B $B$s(B
            $B$!$#$%$'$)(B $B$c$e$g(B $B$C(B
            $B!+(B $B!,(B $B!#(B $B!"!&(B $B!<(B $B!V(B $B!W(B
        $BBy2;$r(B1$B%-!<$GF~NO$9$k$H$-(B
            $B$,$.$0$2$4(B $B$6$8$:$<$>(B $B$@$B$E$G$I(B $B$P$S$V$Y$\(B
        $BH>By2;$r(B1$B%-!<$GF~NO$9$k$H$-(B
            $B$Q$T$W$Z$](B
            $B!J$3$N>l9g$G$bByE@!$H>ByE@$OI,?\!K(B
        $BF1$8;z$rJ#?t$N%-!<0LCV$K3d$jEv$F$F$O$J$i$J$$(B
-->

<!--
    $BD9%m!<%^;zF~NOG[Ns$NMW5a;v9`(B
        $BI,?\(B
            ABCDEFGHIJKLMNOPQRSTUVWXYZ
            $B!#(B $B!"!&!<!V(B $B!W(B
        $BF1$8;z$rJ#?t$N%-!<0LCV$K3d$jEv$F$F$O$J$i$J$$(B
-->

<pre>
                     +-----------+
$B:8%7%U%H;~$NJ8;z(B --> |  $B$"(B   $B$$(B  | &lt;-- $B1&%7%U%H;~$NJ8;z(B
                     |       $B$&(B  |
                     +-----------+
                             $B",(B $BC1FHBG80$N;~$NJ8;z(B
</pre>


<hr>
<h2><a name="nicola">NICOLA$BG[Ns(B</a></h2>

<div class="keylayout">
    <img src="images/nico-map.png" alt="Q's Nicolatter$BHG(BNICOLA$BG[Ns(B">

<PRE>
$B$!(B: D01  $B$#(B: B05  $B$%(B: B01  $B$'(B: D10  $B$)(B: B10  $B$C(B: C10
$B$c(B: D04  $B$e(B: C04  $B$g(B: C09
</pre>
</div>

<a href="http://nicola.sunicom.co.jp/nicola/">$BF|K\8lF~NO%3%s%=!<%7%"%`(B</a><!-- 1999.08.22 -->

<p><a href="http://www2d.biglobe.ne.jp/~msyk/NICOLA/index.html">http://www2d.biglobe.ne.jp/~msyk/NICOLA/index.html</a><br> <!-- 1999.05.06 -->
<a href="http://www.rikkyo.ne.jp/univ/furuse/materials/nicola.html">http://www.rikkyo.ne.jp/univ/furuse/materials/nicola.html</a>   <!-- 1999.05.06 -->





<hr>
<h2><a name="tron">TRON$BG[Ns(B</a></h2>

<PRE class="keylayout">
   00    01    02    03    04    05      06    07    08    09    10    11    12    13
+-----------------------------------+ +-----------------------------------------+
|   ! |$B!D(B $B!A(B|$B!F(B $B!G(B|$B!H(B $B!I(B|$B!V(B $B!W(B|$B!X(B $B!Y(B| |$B!R(B $B!S(B|$B!J(B $B!K(B|$B!P(B $B!Q(B|$B!N(B $B!O(B|$B!@(B $B!C(B|$B!v(B $B!_(B|#  % |        E
|'    |   1 |   2 |   3 |   4 |   5 | |   6 |   7 |   8 |   9 |   0 |   $B!?(B|=  = |
+------------------------------------+ +-----------------------------------------------+
       |$B$R(B $B$S(B|$B$=(B $B$>(B|$B!&(B $B$4(B|$B$c(B $B$P(B|$B$[(B $B$\(B| |$B$.(B $B$((B|$B$2(B $B$1(B|$B$0(B $B$a(B|   $B$`(B|$B$p(B $B$m(B|$B!\(B $B!`(B|     |     | D
       |'  $B$i(B|,  $B$k(B|.  $B$3(B|P  $B$O(B|Y  $B$g(B| |F  $B$-(B|G  $B$N(B|C  $B$/(B|R  $B$"(B|L  $B$l(B|/  $B!](B|[    |]    |
       +------------------------------+ +----------------------------------------------+
        |$B$L(B $B$@(B|$B$M(B $B$I(B|$B$e(B $B$,(B|$B$h(B $B$G(B|$B$U(B $B$V(B| |$B!+(B $B$*(B|$B$B(B $B$A(B|$B%t(B $B!<(B|$B$8(B $B$_(B|$B$q(B $B$d(B|     |            C
        |A  $B$?(B|O  $B$H(B|E  $B$+(B|U  $B$F(B|I  $B$b(B| |D  $B$r(B|H  $B$$(B|T  $B$&(B|N  $B$7(B|S  $B$s(B|-    |
        +------------------------------+ +----------------------------------+
         |$B$'(B $B%u(B|$B$)(B $B%v(B|$B$;(B $B$<(B|$B$f(B $B$6(B|$B$X(B $B$Y(B| |$B$:(B $B$o(B|$B$E(B $B$#(B|$B!$(B $B$!(B|$B!%(B $B!,(B|$B$n(B $B$%(B|                 B
         |;  $B$^(B|Q  $B$j(B|J  $B$K(B|K  $B$5(B|X  $B$J(B| |B  $B$9(B|M  $B$D(B|W  $B!"(B|V  $B!#(B|Z  $B$C(B|
         +-----------------------------+ +-----------------------------+
$B$!(B: B08  $B$#(B: B07  $B$%(B: B10  $B$'(B: B01  $B$)(B: B02  $B$C(B: B10
$B$c(B: D04  $B$e(B: C03  $B$g(B: D05
</PRE>

<!-- D09$B:8$,6u$$$F$k$h$&$K8+$($k$,!$$O$F!)(B -->

<A HREF="http://tron.um.u-tokyo.ac.jp/TRON/proj95/GIFDATA/BTRON-2.gif">http://tron.um.u-tokyo.ac.jp/TRON/proj95/GIFDATA/BTRON-2.gif</a> <!-- 1999.05.06 -->





<hr>
<h2><a name="m">M$B<0G[Ns(B</a></h2>

<PRE class="keylayout">
   00    01    02    03    04    05      06    07    08    09    10    11    12    13
+-----------------------------------+ +-----------------------------------------+
|     |     |     |     |     |     | |     |     |     |     |     |     |     |        E
|$B!!(B $B!.(B|$B!!(B $B#1(B|$B!!(B $B#2(B|$B!!(B $B#3(B|$B!!(B $B#4(B|$B!!(B $B#5(B| |$B!!(B $B#6(B|$B!!(B $B#7(B|$B!!(B $B#8(B|$B!!(B $B#9(B|$B!!(B $B#0(B|$B!!(B $B!](B|$B!!(B $B!a(B|
+------------------------------------+ +-----------------------------------------------+
       |  E$B$-(B|  U$B$/(B|  I$B$/(B|  A$B$/(B|  O$B$/(B| |MY   |$B$C(B   |RY   |$B$s(B   |PY   |     |     |     | D
$B!!!!!!(B |$B!!(B $B#Q(B|$B!!(B $B#L(B|$B!!(B $B#J(B|$B!!(B $B#F(B|$B!!(B $B#C(B| |$B!!(B $B#M(B|$B!!(B $B#Y(B|$B!!(B $B#R(B|$B!!(B $B#W(B|$B!!(B $B#P(B|$B!!(B $B!V(B|$B!!(B $B!W(B|$B!!(B $B!&(B|
       +------------------------------+ +----------------------------------------------+
        |  E$B$s(B|  U$B$s(B|  I$B$s(B|  A$B$s(B|  O$B$s(B| |KY   |SY   |TY   |NY   |HY   |     |            C
$B!!!!!!(B  |$B!!(B $B#E(B|$B!!(B $B#U(B|$B!!(B $B#I(B|$B!!(B $B#A(B|$B!!(B $B#O(B| |$B!!(B $B#K(B|$B!!(B $B#S(B|$B!!(B $B#T(B|$B!!(B $B#N(B|$B!!(B $B#H(B|$B!!(B $B!<(B|
        +------------------------------+ +----------------------------------+
         |  E$B$C(B|  U$B$C(B|  I$B$C(B|  A$B$C(B|  O$B$C(B| |GY   |ZY   |DY   |$B!#(B   |BY   |                 B
         |   EI|$B!!(B $B#X(B|$B!!(B $B#V(B|   AI|   OU| |   $B#G(B|$B!!(B $B#Z(B|$B!!(B $B#D(B|$B!!(B $B!"(B|$B!!(B $B#B(B|
         +-----------------------------+ +-----------------------------+
</pre>

<A HREF="http://www.fujitsu.co.jp/people/kanda/input/m/m.htm">M$B<0%-!<%\!<%I(B</A><br> <!-- 1999.05.06 -->
<a href="http://www.psinfo.nec.co.jp/hardware/ergokb/">http://www.psinfo.nec.co.jp/hardware/ergokb/</a> <!-- 1999.05.06 -->

<p><a href="http://www.psinfo.nec.co.jp/personal/morita/m_siki.htm">http://www.psinfo.nec.co.jp/personal/morita/m_siki.htm</a>




<hr>
<h2><a name="sky">SKY$BG[Ns(B</a></h2>

<PRE class="keylayout">
   00    01    02    03    04    05      06    07    08    09    10    11    12    13
+-----------------------------------+ +-----------------------------------------+
|~    |!    |   @ |   # |   $ |   % | |   ^ |   & |   * |   ( |   ) |   _ |     |        E
|`    |1    |2  2 |3  3 |4  4 |5  5 | |6  6 |7  7 |8  8 |9  9 |0  0 |-  - |=    |
+------------------------------------+ +-----------------------------------------------+
       |   V |  $B$C(BW|  $B$C(BR|  $B$C(BM|  $B$C(BH| |  YUU|  YAI|  YOU|   $B$C(B|  YEI|     |     |     | D
       |   $B!"(B|   W |   R |   M |   H | |   UU|   AI|   OU|   $B!#(B|   EI|   $B!V(B|   $B!W(B|     |
       +------------------------------+ +----------------------------------------------+
        |   F |  $B$C(BT|  $B$C(BS|  $B$C(BK|  $B$C(BY| |   YU|   YA|   YO|   YI|   YE|   $B$s(B|            C
        |   N |   T |   S |   K |   Y | |   U |   A |   O |   I |   E |   $B!<(B|
        +------------------------------+ +----------------------------------+
         |  $B$C(BP|  $B$C(BD|  $B$C(BZ|  $B$C(BG|  $B$C(BB| | YU$B$s(B| YA$B$s(B| YO$B$s(B| YI$B$s(B| YE$B$s(B|                 B
         |   P |   D |   Z |   G |   B | |  U$B$s(B|  A$B$s(B|  O$B$s(B|  I$B$s(B|  E$B$s(B|
         +-----------------------------+ +-----------------------------+
1999.05.06 C, J, L, Q, X,$B!&$,ITL@!#>.$5$$!V$"$$$&$($*!W$,F~$i$J$$$h$&$K8+$($k!#(B

   00    01    02    03    04    05      06    07    08    09    10    11    12    13
+-----------------------------------+ +-----------------------------------------+
|     |     |     |     |     |     | |     |     |     |     |     |     |     |        E
|     |   1 |   2 |   3 |   4 |   5 | |   6 |   7 |   8 |   9 |   0 |   X |     |
+------------------------------------+ +-----------------------------------------------+
       |   Q |     |     |     |   $B#F(B| |     |     |     |     |     |   $B!X(B|   $B!Y(B|     | D
       |   $B!"(B|   $B#W(B|$B!!(B $B#R(B|$B!!(B $B#M(B|$B!!(B $B#H(B| |   UU|   AI|   OU|   $B!#(B|   EI|   $B!V(B|$B!!(B $B!W(B|     |
       +------------------------------+ +----------------------------------------------+
        |     |     |     |     |     | |   $B$%(B|   $B$!(B|   $B$)(B|   $B$#(B|   $B$'(B|     |            C
$B!!!!!!(B  |$B!!(B $B#N(B|$B!!(B $B#T(B|$B!!(B $B#S(B|$B!!(B $B#K(B|$B!!(B $B#Y(B| |$B!!(B $B#U(B|$B!!(B $B#A(B|$B!!(B $B#O(B|$B!!(B $B#I(B|$B!!(B $B#E(B|$B!!(B $B!<(B|
        +------------------------------+ +----------------------------------+
         |     |     |     |     |   $B#V(B| |     |     |     |     |     |                 B
         |$B!!(B $B#P(B|$B!!(B $B#D(B|$B!!(B $B#Z(B|$B!!(B $B#G(B|$B!!(B $B#B(B| |  U$B$s(B|  A$B$s(B|  O$B$s(B|  I$B$s(B|  E$B$s(B|
         +-----------------------------+ +-----------------------------+
Q, X$B$O8+$($k$,!$(BC, J, L$B$,ITL@(B
</PRE>

<a href="http://www2a.biglobe.ne.jp/~tea/toshi/exhibition/sky-pack-1.0/README">http://www2a.biglobe.ne.jp/~tea/toshi/exhibition/sky-pack-1.0/README</a> <!-- 1999.05.06 -->










<hr>
<p class="copyright">Copyright (c) 1998-2005 <a HREF="mailto:vzw00011@nifty.ne.jp">HORIKAWA Hisashi</a>.<br>All rights reserved.
<p class="copyright"><a href="http://www.nslabs.jp/">Netsphere Laboratories</a>
</body>
</html>
